<a href="https://colab.research.google.com/github/DiwakarBasnet/Neural_Network/blob/main/Sales.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Big Mart Sales Prediction
-> Multilayer Perceptron (MLP)

In [1]:
# importing required libraries
import pandas as pd
import numpy as np
import sklearn
from sklearn.model_selection import train_test_split
from sklearn.metrics import r2_score
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
# reading dataset
train_data = 'https://raw.githubusercontent.com/DiwakarBasnet/Neural_Network/main/Sales_Prediction/train_file.csv'
dataset = pd.read_csv(train_data)

# ##1.Data Preprocessing

In [3]:
dataset.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.30,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
1,DRC01,5.92,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
2,FDN15,17.50,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700
3,FDX07,19.20,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,NaN,Tier 3,Grocery Store,732.3800
4,NCD19,8.93,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052

In [4]:
# checking missing values in table
dataset.isnull().sum()

Item_Identifier                 0
Item_Weight                  1463
Item_Fat_Content                0
Item_Visibility                 0
Item_Type                       0
Item_MRP                        0
Outlet_Identifier               0
Outlet_Establishment_Year       0
Outlet_Size                  2410
Outlet_Location_Type            0
Outlet_Type                     0
Item_Outlet_Sales               0
dtype: int64

In [5]:
dataset.dtypes

Item_Identifier               object
Item_Weight                  float64
Item_Fat_Content              object
Item_Visibility              float64
Item_Type                     object
Item_MRP                     float64
Outlet_Identifier             object
Outlet_Establishment_Year      int64
Outlet_Size                   object
Outlet_Location_Type          object
Outlet_Type                   object
Item_Outlet_Sales            float64
dtype: object

###I. Filling missing values

In [6]:
# filling missing values of continuous data with mean
dataset['Item_Weight'].fillna(dataset['Item_Weight'].mean(), inplace=True)

# filling missing values of categorical data with mode
dataset['Outlet_Size'].fillna(dataset['Outlet_Size'].mode()[0], inplace=True)

In [7]:
# checking missing values after imputation
dataset.isnull().sum()

Item_Identifier              0
Item_Weight                  0
Item_Fat_Content             0
Item_Visibility              0
Item_Type                    0
Item_MRP                     0
Outlet_Identifier            0
Outlet_Establishment_Year    0
Outlet_Size                  0
Outlet_Location_Type         0
Outlet_Type                  0
Item_Outlet_Sales            0
dtype: int64

###II. Converting categorical data to numbers

In [8]:
print(dataset.Item_Fat_Content.value_counts())
print(dataset.Item_Type.value_counts())
print(dataset.Outlet_Size.value_counts())
print(dataset.Outlet_Location_Type.value_counts())
print(dataset.Outlet_Type.value_counts())

Low Fat    5089
Regular    2889
LF          316
reg         117
low fat     112
Name: Item_Fat_Content, dtype: int64
Fruits and Vegetables    1232
Snack Foods              1200
Household                 910
Frozen Foods              856
Dairy                     682
Canned                    649
Baking Goods              648
Health and Hygiene        520
Soft Drinks               445
Meat                      425
Breads                    251
Hard Drinks               214
Others                    169
Starchy Foods             148
Breakfast                 110
Seafood                    64
Name: Item_Type, dtype: int64
Medium    5203
Small     2388
High       932
Name: Outlet_Size, dtype: int64
Tier 3    3350
Tier 2    2785
Tier 1    2388
Name: Outlet_Location_Type, dtype: int64
Supermarket Type1    5577
Grocery Store        1083
Supermarket Type3     935
Supermarket Type2     928
Name: Outlet_Type, dtype: int64

In [9]:
dataset['Item_Fat_Content'] = dataset['Item_Fat_Content'].map({'LF':0, 'Low Fat':0, 'low fat':0, 'Regular':1, 'reg':1})
dataset['Item_Type'] = dataset['Item_Type'].map({'Fruits and Vegetables':0, 'Snack Foods':1, 'Household':2, 'Frozen Foods':3, 'Dairy':4,
                                                 'Canned':5, 'Baking Goods':6, 'Health and Hygiene':7, 'Soft Drinks':8, 'Meat':9,
                                                 'Breads':10, 'Hard Drinks':11, 'Others':12, 'Starchy Foods':13, 'Breakfast':14, 'Seafood':15})
dataset['Outlet_Size'] = dataset['Outlet_Size'].map({'Small':0, 'Medium':1, 'High':2})
dataset['Outlet_Location_Type'] = dataset['Outlet_Location_Type'].map({'Tier 1':0, 'Tier 2':1, 'Tier 3':2})
dataset['Outlet_Type'] = dataset['Outlet_Type'].map({'Grocery Store':0, 'Supermarket Type1':1, 'Supermarket Type2':2, 'Supermarket Type3':3})

In [10]:
dataset.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.30,0,0.016047,4,249.8092,OUT049,1999,1,0,1,3735.1380
1,DRC01,5.92,1,0.019278,8,48.2692,OUT018,2009,1,2,2,443.4228
2,FDN15,17.50,0,0.016760,9,141.6180,OUT049,1999,1,0,1,2097.2700
3,FDX07,19.20,1,0.000000,0,182.0950,OUT010,1998,1,2,0,732.3800
4,NCD19,8.93,0,0.000000,2,53.8614,OUT013,1987,2,2,1,994.7052

###III. Normalization

In [11]:
# bringing the variables in the range of 0 to 1
for i in dataset.columns[1:6]:
  dataset[i] = (dataset[i] - dataset[i].min()) / (dataset[i].max() - dataset[i].min())

for i in dataset.columns[7:]:
  dataset[i] = (dataset[i] - dataset[i].min()) / (dataset[i].max() - dataset[i].min())

In [12]:
dataset.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,0.282525,0.0,0.048866,0.266667,0.927507,OUT049,0.583333,0.5,0.0,0.333333,0.283587
1,DRC01,0.081274,1.0,0.058705,0.533333,0.072068,OUT018,1.000000,0.5,1.0,0.666667,0.031419
2,FDN15,0.770765,0.0,0.051037,0.600000,0.468288,OUT049,0.583333,0.5,0.0,0.333333,0.158115
3,FDX07,0.871986,1.0,0.000000,0.000000,0.640093,OUT010,0.541667,0.5,1.0,0.000000,0.053555
4,NCD19,0.260494,0.0,0.000000,0.133333,0.095805,OUT013,0.083333,1.0,1.0,0.333333,0.073651

In [13]:
dataset.to_csv('normalized_train.csv', index=False)

In [14]:
data = pd.read_csv('normalized_train.csv')

In [15]:
# removing Item_Identifier and Outlet_Identifier
data = data.drop(['Item_Identifier', 'Outlet_Identifier'], axis=1)
data.head()

,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,0.282525,0.0,0.048866,0.266667,0.927507,0.583333,0.5,0.0,0.333333,0.283587
1,0.081274,1.0,0.058705,0.533333,0.072068,1.000000,0.5,1.0,0.666667,0.031419
2,0.770765,0.0,0.051037,0.600000,0.468288,0.583333,0.5,0.0,0.333333,0.158115
3,0.871986,1.0,0.000000,0.000000,0.640093,0.541667,0.5,1.0,0.000000,0.053555
4,0.260494,0.0,0.000000,0.133333,0.095805,0.083333,1.0,1.0,0.333333,0.073651

In [16]:
# storing all the features as X
X = data.drop('Item_Outlet_Sales', axis=1)
# storing target as y
y = data['Item_Outlet_Sales']
# shape of X and y
X.shape, y.shape

((8523, 9), (8523,))

In [17]:
##### creating training and validation set #####
# random state to regenerate same train and validation set
# test size 0.2 will keep 20% data in validation and 80% train set

X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=10, test_size=0.2)

(X_train.shape, y_train.shape), (X_test.shape, y_test.shape)

(((6818, 9), (6818,)), ((1705, 9), (1705,)))

#2.Defining the architecture of model

In [18]:
import keras
import tensorflow as tf
from keras.models import Sequential
from keras.layers import InputLayer, Dense

In [19]:
# defining input neurons
input_neurons = X_train.shape[1]
# defining output neurons
output_neurons = 1
# defining hidden layers and neurons in each layer
num_of_hidden_layers = 3
neuron_hidden_layer_1 = 20
neuron_hidden_layer_2 = 10
neuron_hidden_layer_3 = 5

In [20]:
from logging import INFO
model = Sequential()
model.add(InputLayer(input_shape=(input_neurons,)))
model.add(Dense(units=neuron_hidden_layer_1, activation='relu'))
model.add(Dense(units=neuron_hidden_layer_2, activation='relu'))
model.add(Dense(units=neuron_hidden_layer_3, activation='relu'))
model.add(Dense(units=output_neurons, activation='linear'))

In [21]:
model.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 20)                200

 dense_1 (Dense)             (None, 10)                210

 dense_2 (Dense)             (None, 5)                 55

 dense_3 (Dense)             (None, 1)                 6

=================================================================
Total params: 471
Trainable params: 471
Non-trainable params: 0
_________________________________________________________________

In [22]:
##### Compiling the model #####
model.compile(loss='mean_squared_error', optimizer='Adam', metrics=['accuracy'])

#3.Train model

In [23]:
model_history = model.fit(X_train, y_train, validation_data=(X_test, y_test), epochs=100)

Epoch 1/100
214/214 [==============================] - 3s 7ms/step - loss: 0.0095 - accuracy: 1.4667e-04 - val_loss: 0.0080 - val_accuracy: 5.8651e-04
Epoch 2/100
214/214 [==============================] - 1s 5ms/step - loss: 0.0078 - accuracy: 1.4667e-04 - val_loss: 0.0074 - val_accuracy: 5.8651e-04
Epoch 3/100
214/214 [==============================] - 1s 5ms/step - loss: 0.0075 - accuracy: 1.4667e-04 - val_loss: 0.0073 - val_accuracy: 5.8651e-04
Epoch 4/100
214/214 [==============================] - 1s 5ms/step - loss: 0.0073 - accuracy: 1.4667e-04 - val_loss: 0.0073 - val_accuracy: 5.8651e-04
Epoch 5/100
214/214 [==============================] - 1s 4ms/step - loss: 0.0071 - accuracy: 1.4667e-04 - val_loss: 0.0071 - val_accuracy: 5.8651e-04
Epoch 6/100
214/214 [==============================] - 1s 5ms/step - loss: 0.0071 - accuracy: 1.4667e-04 - val_loss: 0.0072 - val_accuracy: 5.8651e-04
Epoch 7/100
214/214 [==============================] - 1s 5ms/step - loss: 0.0071 - accuracy: 1.4667e-04 - val_loss: 0.0069 - val_accuracy: 5.8651e-04
Epoch 8/100
214/214 [==============================] - 1s 5ms/step - loss: 0.0070 - accuracy: 1.4667e-04 - val_loss: 0.0069 - val_accuracy: 5.8651e-04
Epoch 9/100
214/214 [==============================] - 1s 7ms/step - loss: 0.0070 - accuracy: 1.4667e-04 - val_loss: 0.0069 - val_accuracy: 5.8651e-04
Epoch 10/100
214/214 [==============================] - 2s 7ms/step - loss: 0.0070 - accuracy: 1.4667e-04 - val_loss: 0.0069 - val_accuracy: 5.8651e-04
Epoch 11/100
214/214 [==============================] - 1s 7ms/step - loss: 0.0069 - accuracy: 1.4667e-04 - val_loss: 0.0068 - val_accuracy: 5.8651e-04
Epoch 12/100
214/214 [==============================] - 1s 6ms/step - loss: 0.0069 - accuracy: 1.4667e-04 - val_loss: 0.0068 - val_accuracy: 5.8651e-04
Epoch 13/100
214/214 [==============================] - 1s 4ms/step - loss: 0.0069 - accuracy: 1.4667e-04 - val_loss: 0.0069 - val_accuracy: 5.8651e-04
Epoch 14/100
214/214 [==============================] - 1s 6ms/step - loss: 0.0069 - accuracy: 1.4667e-04 - val_loss: 0.0069 - val_accuracy: 5.8651e-04
Epoch 15/100
214/214 [==============================] - 1s 7ms/step - loss: 0.0069 - accuracy: 1.4667e-04 - val_loss: 0.0068 - val_accuracy: 5.8651e-04
Epoch 16/100
214/214 [==============================] - 1s 5ms/step - loss: 0.0069 - accuracy: 1.4667e-04 - val_loss: 0.0068 - val_accuracy: 5.8651e-04
Epoch 17/100
214/214 [==============================] - 1s 4ms/step - loss: 0.0069 - accuracy: 1.4667e-04 - val_loss: 0.0075 - val_accuracy: 5.8651e-04
Epoch 18/100
214/214 [==============================] - 1s 6ms/step - loss: 0.0069 - accuracy: 1.4667e-04 - val_loss: 0.0069 - val_accuracy: 5.8651e-04
Epoch 19/100
214/214 [==============================] - 1s 5ms/step - loss: 0.0068 - accuracy: 1.4667e-04 - val_loss: 0.0071 - val_accuracy: 5.8651e-04
Epoch 20/100
214/214 [==============================] - 1s 4ms/step - loss: 0.0069 - accuracy: 1.4667e-04 - val_loss: 0.0068 - val_accuracy: 5.8651e-04
Epoch 21/100
214/214 [==============================] - 1s 6ms/step - loss: 0.0069 - accuracy: 1.4667e-04 - val_loss: 0.0068 - val_accuracy: 5.8651e-04
Epoch 22/100
214/214 [==============================] - 1s 3ms/step - loss: 0.0069 - accuracy: 1.4667e-04 - val_loss: 0.0068 - val_accuracy: 5.8651e-04
Epoch 23/100
214/214 [==============================] - 1s 3ms/step - loss: 0.0068 - accuracy: 1.4667e-04 - val_loss: 0.0067 - val_accuracy: 5.8651e-04
Epoch 24/100
214/214 [==============================] - 1s 3ms/step - loss: 0.0068 - accuracy: 1.4667e-04 - val_loss: 0.0068 - val_accuracy: 5.8651e-04
Epoch 25/100
214/214 [==============================] - 1s 3ms/step - loss: 0.0068 - accuracy: 1.4667e-04 - val_loss: 0.0068 - val_accuracy: 5.8651e-04
Epoch 26/100
214/214 [==============================] - 1s 2ms/step - loss: 0.0068 - accuracy: 1.4667e-04 - val_loss: 0.0069 - val_accuracy: 5.8651e-04
Epoch 27/100
214/214 [==============================] - 1s 2ms/step - loss: 0.0068 - accuracy: 1.4667e-04 - val_loss: 0.0069 - val_accuracy: 5.8651e-04
Epoch 28/100
214/214 [==============================] - 1s 3ms/step - loss: 0.0068 - accuracy: 1.4667e-04 - val_loss: 0.0068 - val_accuracy: 5.8651e-04
Epoch 29/100
214/214 [==============================] - 1s 3ms/step - loss: 0.0069 - accuracy: 1.4667e-04 - val_loss: 0.0069 - val_accuracy: 5.8651e-04
Epoch 30/100
214/214 [==============================] - 1s 3ms/step - loss: 0.0068 - accuracy: 1.4667e-04 - val_loss: 0.0068 - val_accuracy: 5.8651e-04
Epoch 31/100
214/214 [==============================] - 1s 3ms/step - loss: 0.0068 - accuracy: 1.4667e-04 - val_loss: 0.0068 - val_accuracy: 5.8651e-04
Epoch 32/100
214/214 [==============================] - 1s 2ms/step - loss: 0.0068 - accuracy: 1.4667e-04 - val_loss: 0.0069 - val_accuracy: 5.8651e-04
Epoch 33/100
214/214 [==============================] - 1s 2ms/step - loss: 0.0068 - accuracy: 1.4667e-04 - val_loss: 0.0069 - val_accuracy: 5.8651e-04
Epoch 34/100
214/214 [==============================] - 1s 3ms/step - loss: 0.0068 - accuracy: 1.4667e-04 - val_loss: 0.0068 - val_accuracy: 5.8651e-04
Epoch 35/100
214/214 [==============================] - 1s 3ms/step - loss: 0.0068 - accuracy: 1.4667e-04 - val_loss: 0.0071 - val_accuracy: 5.8651e-04
Epoch 36/100
214/214 [==============================] - 1s 3ms/step - loss: 0.0069 - accuracy: 1.4667e-04 - val_loss: 0.0068 - val_accuracy: 5.8651e-04
Epoch 37/100
214/214 [==============================] - 1s 3ms/step - loss: 0.0068 - accuracy: 1.4667e-04 - val_loss: 0.0068 - val_accuracy: 5.8651e-04
Epoch 38/100
214/214 [==============================] - 1s 3ms/step - loss: 0.0069 - accuracy: 1.4667e-04 - val_loss: 0.0069 - val_accuracy: 5.8651e-04
Epoch 39/100
214/214 [==============================] - 1s 3ms/step - loss: 0.0068 - accuracy: 1.4667e-04 - val_loss: 0.0067 - val_accuracy: 5.8651e-04
Epoch 40/100
214/214 [==============================] - 1s 2ms/step - loss: 0.0068 - accuracy: 1.4667e-04 - val_loss: 0.0068 - val_accuracy: 5.8651e-04
Epoch 41/100
214/214 [==============================] - 1s 3ms/step - loss: 0.0068 - accuracy: 1.4667e-04 - val_loss: 0.0068 - val_accuracy: 5.8651e-04
Epoch 42/100
214/214 [==============================] - 1s 3ms/step - loss: 0.0068 - accuracy: 1.4667e-04 - val_loss: 0.0068 - val_accuracy: 5.8651e-04
Epoch 43/100
214/214 [==============================] - 1s 3ms/step - loss: 0.0068 - accuracy: 1.4667e-04 - val_loss: 0.0071 - val_accuracy: 5.8651e-04
Epoch 44/100
214/214 [==============================] - 1s 3ms/step - loss: 0.0069 - accuracy: 1.4667e-04 - val_loss: 0.0068 - val_accuracy: 5.8651e-04
Epoch 45/100
214/214 [==============================] - 1s 3ms/step - loss: 0.0068 - accuracy: 1.4667e-04 - val_loss: 0.0069 - val_accuracy: 5.8651e-04
Epoch 46/100
214/214 [==============================] - 1s 3ms/step - loss: 0.0068 - accuracy: 1.4667e-04 - val_loss: 0.0074 - val_accuracy: 5.8651e-04
Epoch 47/100
214/214 [==============================] - 1s 3ms/step - loss: 0.0068 - accuracy: 1.4667e-04 - val_loss: 0.0067 - val_accuracy: 5.8651e-04
Epoch 48/100
214/214 [==============================] - 1s 3ms/step - loss: 0.0068 - accuracy: 1.4667e-04 - val_loss: 0.0067 - val_accuracy: 5.8651e-04
Epoch 49/100
214/214 [==============================] - 1s 3ms/step - loss: 0.0068 - accuracy: 1.4667e-04 - val_loss: 0.0068 - val_accuracy: 5.8651e-04
Epoch 50/100
214/214 [==============================] - 1s 2ms/step - loss: 0.0068 - accuracy: 1.4667e-04 - val_loss: 0.0070 - val_accuracy: 5.8651e-04
Epoch 51/100
214/214 [==============================] - 1s 3ms/step - loss: 0.0067 - accuracy: 1.4667e-04 - val_loss: 0.0067 - val_accuracy: 5.8651e-04
Epoch 52/100
214/214 [==============================] - 1s 3ms/step - loss: 0.0068 - accuracy: 1.4667e-04 - val_loss: 0.0069 - val_accuracy: 5.8651e-04
Epoch 53/100
214/214 [==============================] - 1s 3ms/step - loss: 0.0068 - accuracy: 1.4667e-04 - val_loss: 0.0067 - val_accuracy: 5.8651e-04
Epoch 54/100
214/214 [==============================] - 1s 3ms/step - loss: 0.0068 - accuracy: 1.4667e-04 - val_loss: 0.0070 - val_accuracy: 5.8651e-04
Epoch 55/100
214/214 [==============================] - 1s 3ms/step - loss: 0.0068 - accuracy: 1.4667e-04 - val_loss: 0.0068 - val_accuracy: 5.8651e-04
Epoch 56/100
214/214 [==============================] - 1s 3ms/step - loss: 0.0068 - accuracy: 1.4667e-04 - val_loss: 0.0073 - val_accuracy: 5.8651e-04
Epoch 57/100
214/214 [==============================] - 1s 3ms/step - loss: 0.0069 - accuracy: 1.4667e-04 - val_loss: 0.0068 - val_accuracy: 5.8651e-04
Epoch 58/100
214/214 [==============================] - 0s 2ms/step - loss: 0.0068 - accuracy: 1.4667e-04 - val_loss: 0.0068 - val_accuracy: 5.8651e-04
Epoch 59/100
214/214 [==============================] - 1s 3ms/step - loss: 0.0068 - accuracy: 1.4667e-04 - val_loss: 0.0067 - val_accuracy: 5.8651e-04
Epoch 60/100
214/214 [==============================] - 1s 2ms/step - loss: 0.0068 - accuracy: 1.4667e-04 - val_loss: 0.0067 - val_accuracy: 5.8651e-04
Epoch 61/100
214/214 [==============================] - 1s 2ms/step - loss: 0.0068 - accuracy: 1.4667e-04 - val_loss: 0.0068 - val_accuracy: 5.8651e-04
Epoch 62/100
214/214 [==============================] - 1s 3ms/step - loss: 0.0068 - accuracy: 1.4667e-04 - val_loss: 0.0068 - val_accuracy: 5.8651e-04
Epoch 63/100
214/214 [==============================] - 1s 2ms/step - loss: 0.0068 - accuracy: 1.4667e-04 - val_loss: 0.0067 - val_accuracy: 5.8651e-04
Epoch 64/100
214/214 [==============================] - 1s 2ms/step - loss: 0.0068 - accuracy: 1.4667e-04 - val_loss: 0.0067 - val_accuracy: 5.8651e-04
Epoch 65/100
214/214 [==============================] - 1s 3ms/step - loss: 0.0068 - accuracy: 1.4667e-04 - val_loss: 0.0067 - val_accuracy: 5.8651e-04
Epoch 66/100
214/214 [==============================] - 1s 3ms/step - loss: 0.0068 - accuracy: 1.4667e-04 - val_loss: 0.0070 - val_accuracy: 5.8651e-04
Epoch 67/100
214/214 [==============================] - 1s 3ms/step - loss: 0.0068 - accuracy: 1.4667e-04 - val_loss: 0.0067 - val_accuracy: 5.8651e-04
Epoch 68/100
214/214 [==============================] - 1s 2ms/step - loss: 0.0068 - accuracy: 1.4667e-04 - val_loss: 0.0068 - val_accuracy: 5.8651e-04
Epoch 69/100
214/214 [==============================] - 1s 3ms/step - loss: 0.0068 - accuracy: 1.4667e-04 - val_loss: 0.0067 - val_accuracy: 5.8651e-04
Epoch 70/100
214/214 [==============================] - 1s 2ms/step - loss: 0.0068 - accuracy: 1.4667e-04 - val_loss: 0.0068 - val_accuracy: 5.8651e-04
Epoch 71/100
214/214 [==============================] - 0s 2ms/step - loss: 0.0067 - accuracy: 1.4667e-04 - val_loss: 0.0068 - val_accuracy: 5.8651e-04
Epoch 72/100
214/214 [==============================] - 1s 3ms/step - loss: 0.0068 - accuracy: 1.4667e-04 - val_loss: 0.0067 - val_accuracy: 5.8651e-04
Epoch 73/100
214/214 [==============================] - 1s 2ms/step - loss: 0.0067 - accuracy: 1.4667e-04 - val_loss: 0.0067 - val_accuracy: 5.8651e-04
Epoch 74/100
214/214 [==============================] - 1s 3ms/step - loss: 0.0068 - accuracy: 1.4667e-04 - val_loss: 0.0067 - val_accuracy: 5.8651e-04
Epoch 75/100
214/214 [==============================] - 0s 2ms/step - loss: 0.0068 - accuracy: 1.4667e-04 - val_loss: 0.0068 - val_accuracy: 5.8651e-04
Epoch 76/100
214/214 [==============================] - 1s 2ms/step - loss: 0.0068 - accuracy: 1.4667e-04 - val_loss: 0.0069 - val_accuracy: 5.8651e-04
Epoch 77/100
214/214 [==============================] - 1s 2ms/step - loss: 0.0068 - accuracy: 1.4667e-04 - val_loss: 0.0068 - val_accuracy: 5.8651e-04
Epoch 78/100
214/214 [==============================] - 0s 2ms/step - loss: 0.0067 - accuracy: 1.4667e-04 - val_loss: 0.0067 - val_accuracy: 5.8651e-04
Epoch 79/100
214/214 [==============================] - 0s 2ms/step - loss: 0.0067 - accuracy: 1.4667e-04 - val_loss: 0.0068 - val_accuracy: 5.8651e-04
Epoch 80/100
214/214 [==============================] - 1s 2ms/step - loss: 0.0068 - accuracy: 1.4667e-04 - val_loss: 0.0067 - val_accuracy: 5.8651e-04
Epoch 81/100
214/214 [==============================] - 1s 2ms/step - loss: 0.0068 - accuracy: 1.4667e-04 - val_loss: 0.0067 - val_accuracy: 5.8651e-04
Epoch 82/100
214/214 [==============================] - 1s 2ms/step - loss: 0.0068 - accuracy: 1.4667e-04 - val_loss: 0.0068 - val_accuracy: 5.8651e-04
Epoch 83/100
214/214 [==============================] - 1s 3ms/step - loss: 0.0067 - accuracy: 1.4667e-04 - val_loss: 0.0072 - val_accuracy: 5.8651e-04
Epoch 84/100
214/214 [==============================] - 0s 2ms/step - loss: 0.0068 - accuracy: 1.4667e-04 - val_loss: 0.0067 - val_accuracy: 5.8651e-04
Epoch 85/100
214/214 [==============================] - 1s 2ms/step - loss: 0.0068 - accuracy: 1.4667e-04 - val_loss: 0.0068 - val_accuracy: 5.8651e-04
Epoch 86/100
214/214 [==============================] - 1s 2ms/step - loss: 0.0067 - accuracy: 1.4667e-04 - val_loss: 0.0068 - val_accuracy: 5.8651e-04
Epoch 87/100
214/214 [==============================] - 1s 3ms/step - loss: 0.0068 - accuracy: 1.4667e-04 - val_loss: 0.0068 - val_accuracy: 5.8651e-04
Epoch 88/100
214/214 [==============================] - 1s 3ms/step - loss: 0.0068 - accuracy: 1.4667e-04 - val_loss: 0.0068 - val_accuracy: 5.8651e-04
Epoch 89/100
214/214 [==============================] - 0s 2ms/step - loss: 0.0068 - accuracy: 1.4667e-04 - val_loss: 0.0070 - val_accuracy: 5.8651e-04
Epoch 90/100
214/214 [==============================] - 1s 3ms/step - loss: 0.0068 - accuracy: 1.4667e-04 - val_loss: 0.0067 - val_accuracy: 5.8651e-04
Epoch 91/100
214/214 [==============================] - 1s 3ms/step - loss: 0.0067 - accuracy: 1.4667e-04 - val_loss: 0.0070 - val_accuracy: 5.8651e-04
Epoch 92/100
214/214 [==============================] - 1s 3ms/step - loss: 0.0068 - accuracy: 1.4667e-04 - val_loss: 0.0067 - val_accuracy: 5.8651e-04
Epoch 93/100
214/214 [==============================] - 1s 3ms/step - loss: 0.0067 - accuracy: 1.4667e-04 - val_loss: 0.0067 - val_accuracy: 5.8651e-04
Epoch 94/100
214/214 [==============================] - 1s 3ms/step - loss: 0.0067 - accuracy: 1.4667e-04 - val_loss: 0.0067 - val_accuracy: 5.8651e-04
Epoch 95/100
214/214 [==============================] - 1s 3ms/step - loss: 0.0068 - accuracy: 1.4667e-04 - val_loss: 0.0067 - val_accuracy: 5.8651e-04
Epoch 96/100
214/214 [==============================] - 1s 3ms/step - loss: 0.0068 - accuracy: 1.4667e-04 - val_loss: 0.0071 - val_accuracy: 5.8651e-04
Epoch 97/100
214/214 [==============================] - 1s 3ms/step - loss: 0.0068 - accuracy: 1.4667e-04 - val_loss: 0.0068 - val_accuracy: 5.8651e-04
Epoch 98/100
214/214 [==============================] - 1s 2ms/step - loss: 0.0068 - accuracy: 1.4667e-04 - val_loss: 0.0067 - val_accuracy: 5.8651e-04
Epoch 99/100
214/214 [==============================] - 1s 3ms/step - loss: 0.0067 - accuracy: 1.4667e-04 - val_loss: 0.0068 - val_accuracy: 5.8651e-04
Epoch 100/100
214/214 [==============================] - 1s 3ms/step - loss: 0.0067 - accuracy: 1.4667e-04 - val_loss: 0.0071 - val_accuracy: 5.8651e-04

In [24]:
##### Evaluating model performance on validation set #####
prediction = model.predict(X_test)

# calculating the accuracy on validation set
r2_score(y_test, prediction)

0.594818287962477

#4.Test Data Preprocessing

In [25]:
# reading dataset
test_data = 'https://raw.githubusercontent.com/DiwakarBasnet/Neural_Network/main/Sales_Prediction/test_file.csv'
check = pd.read_csv(test_data)

In [26]:
check.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type
0,FDW58,20.750,Low Fat,0.007565,Snack Foods,107.8622,OUT049,1999,Medium,Tier 1,Supermarket Type1
1,FDW14,8.300,reg,0.038428,Dairy,87.3198,OUT017,2007,NaN,Tier 2,Supermarket Type1
2,NCN55,14.600,Low Fat,0.099575,Others,241.7538,OUT010,1998,NaN,Tier 3,Grocery Store
3,FDQ58,7.315,Low Fat,0.015388,Snack Foods,155.0340,OUT017,2007,NaN,Tier 2,Supermarket Type1
4,FDY38,NaN,Regular,0.118599,Dairy,234.2300,OUT027,1985,Medium,Tier 3,Supermarket Type3

In [27]:
check.isnull().sum()

Item_Identifier                 0
Item_Weight                   976
Item_Fat_Content                0
Item_Visibility                 0
Item_Type                       0
Item_MRP                        0
Outlet_Identifier               0
Outlet_Establishment_Year       0
Outlet_Size                  1606
Outlet_Location_Type            0
Outlet_Type                     0
dtype: int64

In [28]:
check.shape

(5681, 11)

##I. Filling Missing Values

In [29]:
# filling missing values of continuous data with mean
check['Item_Weight'].fillna(check['Item_Weight'].mean(), inplace=True)

# filling missing values of categorical data with mode
check['Outlet_Size'].fillna(check['Outlet_Size'].mode()[0], inplace=True)

In [30]:
# checking missing values after imputation
check.isnull().sum()

Item_Identifier              0
Item_Weight                  0
Item_Fat_Content             0
Item_Visibility              0
Item_Type                    0
Item_MRP                     0
Outlet_Identifier            0
Outlet_Establishment_Year    0
Outlet_Size                  0
Outlet_Location_Type         0
Outlet_Type                  0
dtype: int64

##II. Converting categorical data to numbers

In [31]:
check['Item_Fat_Content'] = check['Item_Fat_Content'].map({'LF':0, 'Low Fat':0, 'low fat':0, 'Regular':1, 'reg':1})
check['Item_Type'] = check['Item_Type'].map({'Fruits and Vegetables':0, 'Snack Foods':1, 'Household':2, 'Frozen Foods':3, 'Dairy':4,
                                                 'Canned':5, 'Baking Goods':6, 'Health and Hygiene':7, 'Soft Drinks':8, 'Meat':9,
                                                 'Breads':10, 'Hard Drinks':11, 'Others':12, 'Starchy Foods':13, 'Breakfast':14, 'Seafood':15})
check['Outlet_Size'] = check['Outlet_Size'].map({'Small':0, 'Medium':1, 'High':2})
check['Outlet_Location_Type'] = check['Outlet_Location_Type'].map({'Tier 1':0, 'Tier 2':1, 'Tier 3':2})
check['Outlet_Type'] = check['Outlet_Type'].map({'Grocery Store':0, 'Supermarket Type1':1, 'Supermarket Type2':2, 'Supermarket Type3':3})

In [32]:
check.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type
0,FDW58,20.750000,0,0.007565,1,107.8622,OUT049,1999,1,0,1
1,FDW14,8.300000,1,0.038428,4,87.3198,OUT017,2007,1,1,1
2,NCN55,14.600000,0,0.099575,12,241.7538,OUT010,1998,1,2,0
3,FDQ58,7.315000,0,0.015388,1,155.0340,OUT017,2007,1,1,1
4,FDY38,12.695633,1,0.118599,4,234.2300,OUT027,1985,1,2,3

##III. Normalization

In [33]:
# bringing the variables in the range of 0 to 1
for i in check.columns[1:6]:
  check[i] = (check[i] - check[i].min()) / (check[i].max() - check[i].min())

for i in check.columns[7:]:
  check[i] = (check[i] - check[i].min()) / (check[i].max() - check[i].min())

In [34]:
check.to_csv('normalized_test.csv', index=False)

In [35]:
data_test = pd.read_csv('normalized_test.csv')

In [36]:
# removing Item_Identifier and Outlet_Identifier
new_test_data = data_test.drop(['Item_Identifier', 'Outlet_Identifier'], axis=1)

In [37]:
new_test_data.head()

,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type
0,0.964275,0.0,0.023374,0.066667,0.323413,0.583333,0.5,0.0,0.333333
1,0.222983,1.0,0.118737,0.266667,0.235849,0.916667,0.5,0.5,0.333333
2,0.598095,0.0,0.307674,0.800000,0.894140,0.541667,0.5,1.0,0.000000
3,0.164335,0.0,0.047548,0.066667,0.524488,0.916667,0.5,0.5,0.333333
4,0.484706,1.0,0.366458,0.266667,0.862069,0.000000,0.5,1.0,1.000000

In [38]:
pred = model.predict(new_test_data)

In [58]:
check_data = {'Item_Identifier': data_test['Item_Identifier'], 'Outlet_Identifier': data_test['Outlet_Identifier'], 'Item_Outlet_Sales': pred.flatten()}
df = pd.DataFrame(check_data)

In [59]:
df.head()

  Item_Identifier Outlet_Identifier  Item_Outlet_Sales
0           FDW58            OUT049           0.110245
1           FDW14            OUT017           0.076428
2           NCN55            OUT010           0.038280
3           FDQ58            OUT017           0.170905
4           FDY38            OUT027           0.415146

In [60]:
df.to_csv('solution.csv', index=False)