<a href="https://colab.research.google.com/github/DiwakarBasnet/Neural_Network/blob/main/Sales_Prediction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Big Mart Sales Prediction
-> Multilayer Perceptron (MLP)

In [3]:
# importing required libraries
import pandas as pd
import numpy as np
import sklearn
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
import matplotlib.pyplot as plt
%matplotlib inline

In [4]:
# reading dataset
train_data = 'https://raw.githubusercontent.com/DiwakarBasnet/Neural_Network/main/Sales_Prediction/train_file.csv'
dataset = pd.read_csv(train_data)

##1. Data Preprocessing

In [5]:
dataset.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.30,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
1,DRC01,5.92,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
2,FDN15,17.50,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700
3,FDX07,19.20,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,NaN,Tier 3,Grocery Store,732.3800
4,NCD19,8.93,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052

In [6]:
# checking missing values in table
dataset.isnull().sum()

Item_Identifier                 0
Item_Weight                  1463
Item_Fat_Content                0
Item_Visibility                 0
Item_Type                       0
Item_MRP                        0
Outlet_Identifier               0
Outlet_Establishment_Year       0
Outlet_Size                  2410
Outlet_Location_Type            0
Outlet_Type                     0
Item_Outlet_Sales               0
dtype: int64

In [7]:
dataset.dtypes

Item_Identifier               object
Item_Weight                  float64
Item_Fat_Content              object
Item_Visibility              float64
Item_Type                     object
Item_MRP                     float64
Outlet_Identifier             object
Outlet_Establishment_Year      int64
Outlet_Size                   object
Outlet_Location_Type          object
Outlet_Type                   object
Item_Outlet_Sales            float64
dtype: object

###I. Filling missing values

In [8]:
# filling missing values of continuous data with mean
dataset['Item_Weight'].fillna(dataset['Item_Weight'].mean(), inplace=True)

# filling missing values of categorical data with mode
dataset['Outlet_Size'].fillna(dataset['Outlet_Size'].mode()[0], inplace=True)

In [9]:
# checking missing values after imputation
dataset.isnull().sum()

Item_Identifier              0
Item_Weight                  0
Item_Fat_Content             0
Item_Visibility              0
Item_Type                    0
Item_MRP                     0
Outlet_Identifier            0
Outlet_Establishment_Year    0
Outlet_Size                  0
Outlet_Location_Type         0
Outlet_Type                  0
Item_Outlet_Sales            0
dtype: int64

###II. Converting categorical data to numbers

In [10]:
print(dataset.Item_Fat_Content.value_counts())
print(dataset.Item_Type.value_counts())
print(dataset.Outlet_Size.value_counts())
print(dataset.Outlet_Location_Type.value_counts())
print(dataset.Outlet_Type.value_counts())

Low Fat    5089
Regular    2889
LF          316
reg         117
low fat     112
Name: Item_Fat_Content, dtype: int64
Fruits and Vegetables    1232
Snack Foods              1200
Household                 910
Frozen Foods              856
Dairy                     682
Canned                    649
Baking Goods              648
Health and Hygiene        520
Soft Drinks               445
Meat                      425
Breads                    251
Hard Drinks               214
Others                    169
Starchy Foods             148
Breakfast                 110
Seafood                    64
Name: Item_Type, dtype: int64
Medium    5203
Small     2388
High       932
Name: Outlet_Size, dtype: int64
Tier 3    3350
Tier 2    2785
Tier 1    2388
Name: Outlet_Location_Type, dtype: int64
Supermarket Type1    5577
Grocery Store        1083
Supermarket Type3     935
Supermarket Type2     928
Name: Outlet_Type, dtype: int64

In [11]:
dataset['Item_Fat_Content'] = dataset['Item_Fat_Content'].map({'LF':0, 'Low Fat':0, 'low fat':0, 'Regular':1, 'reg':1})
dataset['Item_Type'] = dataset['Item_Type'].map({'Fruits and Vegetables':0, 'Snack Foods':1, 'Household':2, 'Frozen Foods':3, 'Dairy':4,
                                                 'Canned':5, 'Baking Goods':6, 'Health and Hygiene':7, 'Soft Drinks':8, 'Meat':9,
                                                 'Breads':10, 'Hard Drinks':11, 'Others':12, 'Starchy Foods':13, 'Breakfast':14, 'Seafood':15})
dataset['Outlet_Size'] = dataset['Outlet_Size'].map({'Small':0, 'Medium':1, 'High':2})
dataset['Outlet_Location_Type'] = dataset['Outlet_Location_Type'].map({'Tier 1':0, 'Tier 2':1, 'Tier 3':2})
dataset['Outlet_Type'] = dataset['Outlet_Type'].map({'Grocery Store':0, 'Supermarket Type1':1, 'Supermarket Type2':2, 'Supermarket Type3':3})

In [12]:
dataset.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.30,0,0.016047,4,249.8092,OUT049,1999,1,0,1,3735.1380
1,DRC01,5.92,1,0.019278,8,48.2692,OUT018,2009,1,2,2,443.4228
2,FDN15,17.50,0,0.016760,9,141.6180,OUT049,1999,1,0,1,2097.2700
3,FDX07,19.20,1,0.000000,0,182.0950,OUT010,1998,1,2,0,732.3800
4,NCD19,8.93,0,0.000000,2,53.8614,OUT013,1987,2,2,1,994.7052

###III. Normalization

In [13]:
# bringing the variables in the range of 0 to 1
for i in dataset.columns[1:5]:
  dataset[i] = (dataset[i] - dataset[i].min()) / (dataset[i].max() - dataset[i].min())

for i in dataset.columns[7:]:
  dataset[i] = (dataset[i] - dataset[i].min()) / (dataset[i].max() - dataset[i].min())

In [14]:
dataset.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,0.282525,0.0,0.048866,0.266667,249.8092,OUT049,0.583333,0.5,0.0,0.333333,0.283587
1,DRC01,0.081274,1.0,0.058705,0.533333,48.2692,OUT018,1.000000,0.5,1.0,0.666667,0.031419
2,FDN15,0.770765,0.0,0.051037,0.600000,141.6180,OUT049,0.583333,0.5,0.0,0.333333,0.158115
3,FDX07,0.871986,1.0,0.000000,0.000000,182.0950,OUT010,0.541667,0.5,1.0,0.000000,0.053555
4,NCD19,0.260494,0.0,0.000000,0.133333,53.8614,OUT013,0.083333,1.0,1.0,0.333333,0.073651

In [15]:
dataset.to_csv('normalized_train.csv', index=False)

In [16]:
data = pd.read_csv('normalized_train.csv')

In [17]:
# removing Item_Identifier and Outlet_Identifier
data = data.drop('Item_Identifier', axis=1)
data = data.drop('Outlet_Identifier', axis=1)
data.shape

(8523, 10)

In [18]:
# storing all the features as X
X = data.drop('Item_Outlet_Sales', axis=1)
# storing target as y
y = data['Item_Outlet_Sales']
# shape of X and y
X.shape, y.shape

((8523, 9), (8523,))

In [19]:
##### creating training and validation set #####
# random state to regenerate same train and validation set
# test size 0.2 will keep 20% data in validation and 80% train set

X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42, test_size=0.33)

(X_train.shape, y_train.shape), (X_test.shape, y_test.shape)

(((5710, 9), (5710,)), ((2813, 9), (2813,)))

##2. Defining the architecture of model

In [20]:
import keras
import tensorflow as tf
from keras.models import Sequential
from keras.layers import InputLayer, Dense

In [21]:
# defining input neurons
input_neurons = X_train.shape[1]
# defining output neurons
output_neurons = 1
# defining hidden layers and neurons in each layer
num_of_hidden_layers = 2
neuron_hidden_layer_1 = 10
neuron_hidden_layer_2 = 5

In [22]:
from logging import INFO
model = Sequential()
model.add(InputLayer(input_shape=(input_neurons,)))
model.add(Dense(units=neuron_hidden_layer_1, activation='relu'))
model.add(Dense(units=neuron_hidden_layer_2, activation='relu'))
model.add(Dense(units=output_neurons, activation='linear'))

In [23]:
model.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 10)                100

 dense_1 (Dense)             (None, 5)                 55

 dense_2 (Dense)             (None, 1)                 6

=================================================================
Total params: 161
Trainable params: 161
Non-trainable params: 0
_________________________________________________________________

In [24]:
##### Compiling the model #####
model.compile(loss='mean_squared_error', optimizer='Adam', metrics=['accuracy'])

##Train model

In [25]:
model_history = model.fit(X_train, y_train, validation_data=(X_test, y_test), epochs=100)

Epoch 1/100
179/179 [==============================] - 4s 6ms/step - loss: 0.9427 - accuracy: 1.7513e-04 - val_loss: 0.0127 - val_accuracy: 3.5549e-04
Epoch 2/100
179/179 [==============================] - 1s 5ms/step - loss: 0.0132 - accuracy: 1.7513e-04 - val_loss: 0.0123 - val_accuracy: 3.5549e-04
Epoch 3/100
179/179 [==============================] - 1s 5ms/step - loss: 0.0130 - accuracy: 1.7513e-04 - val_loss: 0.0121 - val_accuracy: 3.5549e-04
Epoch 4/100
179/179 [==============================] - 1s 5ms/step - loss: 0.0129 - accuracy: 1.7513e-04 - val_loss: 0.0119 - val_accuracy: 3.5549e-04
Epoch 5/100
179/179 [==============================] - 1s 5ms/step - loss: 0.0126 - accuracy: 1.7513e-04 - val_loss: 0.0116 - val_accuracy: 3.5549e-04
Epoch 6/100
179/179 [==============================] - 1s 5ms/step - loss: 0.0125 - accuracy: 1.7513e-04 - val_loss: 0.0114 - val_accuracy: 3.5549e-04
Epoch 7/100
179/179 [==============================] - 1s 5ms/step - loss: 0.0121 - accuracy: 1.7513e-04 - val_loss: 0.0112 - val_accuracy: 3.5549e-04
Epoch 8/100
179/179 [==============================] - 1s 5ms/step - loss: 0.0121 - accuracy: 1.7513e-04 - val_loss: 0.0119 - val_accuracy: 3.5549e-04
Epoch 9/100
179/179 [==============================] - 1s 5ms/step - loss: 0.0118 - accuracy: 1.7513e-04 - val_loss: 0.0150 - val_accuracy: 3.5549e-04
Epoch 10/100
179/179 [==============================] - 1s 5ms/step - loss: 0.0119 - accuracy: 1.7513e-04 - val_loss: 0.0105 - val_accuracy: 3.5549e-04
Epoch 11/100
179/179 [==============================] - 1s 5ms/step - loss: 0.0113 - accuracy: 1.7513e-04 - val_loss: 0.0118 - val_accuracy: 3.5549e-04
Epoch 12/100
179/179 [==============================] - 1s 5ms/step - loss: 0.0118 - accuracy: 1.7513e-04 - val_loss: 0.0103 - val_accuracy: 3.5549e-04
Epoch 13/100
179/179 [==============================] - 1s 5ms/step - loss: 0.0114 - accuracy: 1.7513e-04 - val_loss: 0.0109 - val_accuracy: 3.5549e-04
Epoch 14/100
179/179 [==============================] - 1s 5ms/step - loss: 0.0110 - accuracy: 1.7513e-04 - val_loss: 0.0097 - val_accuracy: 3.5549e-04
Epoch 15/100
179/179 [==============================] - 1s 5ms/step - loss: 0.0109 - accuracy: 1.7513e-04 - val_loss: 0.0137 - val_accuracy: 3.5549e-04
Epoch 16/100
179/179 [==============================] - 1s 5ms/step - loss: 0.0115 - accuracy: 1.7513e-04 - val_loss: 0.0101 - val_accuracy: 3.5549e-04
Epoch 17/100
179/179 [==============================] - 1s 5ms/step - loss: 0.0104 - accuracy: 1.7513e-04 - val_loss: 0.0101 - val_accuracy: 3.5549e-04
Epoch 18/100
179/179 [==============================] - 1s 5ms/step - loss: 0.0108 - accuracy: 1.7513e-04 - val_loss: 0.0110 - val_accuracy: 3.5549e-04
Epoch 19/100
179/179 [==============================] - 1s 5ms/step - loss: 0.0111 - accuracy: 1.7513e-04 - val_loss: 0.0093 - val_accuracy: 3.5549e-04
Epoch 20/100
179/179 [==============================] - 1s 5ms/step - loss: 0.0103 - accuracy: 1.7513e-04 - val_loss: 0.0090 - val_accuracy: 3.5549e-04
Epoch 21/100
179/179 [==============================] - 1s 5ms/step - loss: 0.0102 - accuracy: 1.7513e-04 - val_loss: 0.0089 - val_accuracy: 3.5549e-04
Epoch 22/100
179/179 [==============================] - 1s 6ms/step - loss: 0.0115 - accuracy: 1.7513e-04 - val_loss: 0.0095 - val_accuracy: 3.5549e-04
Epoch 23/100
179/179 [==============================] - 1s 5ms/step - loss: 0.0102 - accuracy: 1.7513e-04 - val_loss: 0.0133 - val_accuracy: 3.5549e-04
Epoch 24/100
179/179 [==============================] - 1s 5ms/step - loss: 0.0104 - accuracy: 1.7513e-04 - val_loss: 0.0100 - val_accuracy: 3.5549e-04
Epoch 25/100
179/179 [==============================] - 1s 5ms/step - loss: 0.0102 - accuracy: 1.7513e-04 - val_loss: 0.0086 - val_accuracy: 3.5549e-04
Epoch 26/100
179/179 [==============================] - 1s 5ms/step - loss: 0.0103 - accuracy: 1.7513e-04 - val_loss: 0.0087 - val_accuracy: 3.5549e-04
Epoch 27/100
179/179 [==============================] - 1s 5ms/step - loss: 0.0109 - accuracy: 1.7513e-04 - val_loss: 0.0092 - val_accuracy: 3.5549e-04
Epoch 28/100
179/179 [==============================] - 1s 5ms/step - loss: 0.0119 - accuracy: 1.7513e-04 - val_loss: 0.0084 - val_accuracy: 3.5549e-04
Epoch 29/100
179/179 [==============================] - 1s 5ms/step - loss: 0.0100 - accuracy: 1.7513e-04 - val_loss: 0.0083 - val_accuracy: 3.5549e-04
Epoch 30/100
179/179 [==============================] - 1s 5ms/step - loss: 0.0107 - accuracy: 1.7513e-04 - val_loss: 0.0086 - val_accuracy: 3.5549e-04
Epoch 31/100
179/179 [==============================] - 1s 5ms/step - loss: 0.0104 - accuracy: 1.7513e-04 - val_loss: 0.0089 - val_accuracy: 3.5549e-04
Epoch 32/100
179/179 [==============================] - 1s 5ms/step - loss: 0.0101 - accuracy: 1.7513e-04 - val_loss: 0.0116 - val_accuracy: 3.5549e-04
Epoch 33/100
179/179 [==============================] - 1s 5ms/step - loss: 0.0113 - accuracy: 1.7513e-04 - val_loss: 0.0084 - val_accuracy: 3.5549e-04
Epoch 34/100
179/179 [==============================] - 1s 5ms/step - loss: 0.0104 - accuracy: 1.7513e-04 - val_loss: 0.0093 - val_accuracy: 3.5549e-04
Epoch 35/100
179/179 [==============================] - 1s 5ms/step - loss: 0.0102 - accuracy: 1.7513e-04 - val_loss: 0.0113 - val_accuracy: 3.5549e-04
Epoch 36/100
179/179 [==============================] - 1s 5ms/step - loss: 0.0097 - accuracy: 1.7513e-04 - val_loss: 0.0084 - val_accuracy: 3.5549e-04
Epoch 37/100
179/179 [==============================] - 1s 5ms/step - loss: 0.0101 - accuracy: 1.7513e-04 - val_loss: 0.0085 - val_accuracy: 3.5549e-04
Epoch 38/100
179/179 [==============================] - 1s 5ms/step - loss: 0.0117 - accuracy: 1.7513e-04 - val_loss: 0.0131 - val_accuracy: 3.5549e-04
Epoch 39/100
179/179 [==============================] - 1s 5ms/step - loss: 0.0106 - accuracy: 3.5026e-04 - val_loss: 0.0082 - val_accuracy: 3.5549e-04
Epoch 40/100
179/179 [==============================] - 1s 5ms/step - loss: 0.0099 - accuracy: 1.7513e-04 - val_loss: 0.0090 - val_accuracy: 3.5549e-04
Epoch 41/100
179/179 [==============================] - 1s 5ms/step - loss: 0.0102 - accuracy: 1.7513e-04 - val_loss: 0.0082 - val_accuracy: 3.5549e-04
Epoch 42/100
179/179 [==============================] - 1s 5ms/step - loss: 0.0114 - accuracy: 1.7513e-04 - val_loss: 0.0096 - val_accuracy: 3.5549e-04
Epoch 43/100
179/179 [==============================] - 1s 5ms/step - loss: 0.0104 - accuracy: 1.7513e-04 - val_loss: 0.0081 - val_accuracy: 3.5549e-04
Epoch 44/100
179/179 [==============================] - 1s 5ms/step - loss: 0.0100 - accuracy: 1.7513e-04 - val_loss: 0.0081 - val_accuracy: 3.5549e-04
Epoch 45/100
179/179 [==============================] - 1s 5ms/step - loss: 0.0094 - accuracy: 1.7513e-04 - val_loss: 0.0097 - val_accuracy: 3.5549e-04
Epoch 46/100
179/179 [==============================] - 1s 5ms/step - loss: 0.0102 - accuracy: 1.7513e-04 - val_loss: 0.0135 - val_accuracy: 3.5549e-04
Epoch 47/100
179/179 [==============================] - 1s 5ms/step - loss: 0.0103 - accuracy: 1.7513e-04 - val_loss: 0.0122 - val_accuracy: 3.5549e-04
Epoch 48/100
179/179 [==============================] - 1s 6ms/step - loss: 0.0101 - accuracy: 1.7513e-04 - val_loss: 0.0081 - val_accuracy: 3.5549e-04
Epoch 49/100
179/179 [==============================] - 1s 5ms/step - loss: 0.0103 - accuracy: 1.7513e-04 - val_loss: 0.0084 - val_accuracy: 3.5549e-04
Epoch 50/100
179/179 [==============================] - 1s 6ms/step - loss: 0.0100 - accuracy: 1.7513e-04 - val_loss: 0.0109 - val_accuracy: 3.5549e-04
Epoch 51/100
179/179 [==============================] - 1s 5ms/step - loss: 0.0102 - accuracy: 1.7513e-04 - val_loss: 0.0087 - val_accuracy: 3.5549e-04
Epoch 52/100
179/179 [==============================] - 1s 5ms/step - loss: 0.0105 - accuracy: 1.7513e-04 - val_loss: 0.0102 - val_accuracy: 3.5549e-04
Epoch 53/100
179/179 [==============================] - 1s 5ms/step - loss: 0.0103 - accuracy: 3.5026e-04 - val_loss: 0.0082 - val_accuracy: 3.5549e-04
Epoch 54/100
179/179 [==============================] - 1s 5ms/step - loss: 0.0097 - accuracy: 1.7513e-04 - val_loss: 0.0089 - val_accuracy: 3.5549e-04
Epoch 55/100
179/179 [==============================] - 1s 7ms/step - loss: 0.0103 - accuracy: 1.7513e-04 - val_loss: 0.0087 - val_accuracy: 3.5549e-04
Epoch 56/100
179/179 [==============================] - 2s 10ms/step - loss: 0.0100 - accuracy: 1.7513e-04 - val_loss: 0.0100 - val_accuracy: 3.5549e-04
Epoch 57/100
179/179 [==============================] - 2s 9ms/step - loss: 0.0104 - accuracy: 1.7513e-04 - val_loss: 0.0084 - val_accuracy: 3.5549e-04
Epoch 58/100
179/179 [==============================] - 2s 9ms/step - loss: 0.0106 - accuracy: 1.7513e-04 - val_loss: 0.0083 - val_accuracy: 3.5549e-04
Epoch 59/100
179/179 [==============================] - 2s 11ms/step - loss: 0.0097 - accuracy: 1.7513e-04 - val_loss: 0.0082 - val_accuracy: 3.5549e-04
Epoch 60/100
179/179 [==============================] - 1s 5ms/step - loss: 0.0121 - accuracy: 1.7513e-04 - val_loss: 0.0137 - val_accuracy: 3.5549e-04
Epoch 61/100
179/179 [==============================] - 1s 5ms/step - loss: 0.0099 - accuracy: 1.7513e-04 - val_loss: 0.0177 - val_accuracy: 3.5549e-04
Epoch 62/100
179/179 [==============================] - 1s 5ms/step - loss: 0.0115 - accuracy: 1.7513e-04 - val_loss: 0.0112 - val_accuracy: 3.5549e-04
Epoch 63/100
179/179 [==============================] - 1s 5ms/step - loss: 0.0101 - accuracy: 1.7513e-04 - val_loss: 0.0118 - val_accuracy: 3.5549e-04
Epoch 64/100
179/179 [==============================] - 1s 5ms/step - loss: 0.0098 - accuracy: 1.7513e-04 - val_loss: 0.0081 - val_accuracy: 3.5549e-04
Epoch 65/100
179/179 [==============================] - 1s 5ms/step - loss: 0.0101 - accuracy: 1.7513e-04 - val_loss: 0.0087 - val_accuracy: 3.5549e-04
Epoch 66/100
179/179 [==============================] - 1s 5ms/step - loss: 0.0097 - accuracy: 1.7513e-04 - val_loss: 0.0090 - val_accuracy: 3.5549e-04
Epoch 67/100
179/179 [==============================] - 1s 5ms/step - loss: 0.0103 - accuracy: 1.7513e-04 - val_loss: 0.0081 - val_accuracy: 3.5549e-04
Epoch 68/100
179/179 [==============================] - 1s 5ms/step - loss: 0.0098 - accuracy: 1.7513e-04 - val_loss: 0.0084 - val_accuracy: 3.5549e-04
Epoch 69/100
179/179 [==============================] - 1s 5ms/step - loss: 0.0102 - accuracy: 1.7513e-04 - val_loss: 0.0116 - val_accuracy: 3.5549e-04
Epoch 70/100
179/179 [==============================] - 1s 5ms/step - loss: 0.0106 - accuracy: 1.7513e-04 - val_loss: 0.0096 - val_accuracy: 3.5549e-04
Epoch 71/100
179/179 [==============================] - 1s 5ms/step - loss: 0.0097 - accuracy: 1.7513e-04 - val_loss: 0.0082 - val_accuracy: 3.5549e-04
Epoch 72/100
179/179 [==============================] - 1s 5ms/step - loss: 0.0095 - accuracy: 1.7513e-04 - val_loss: 0.0085 - val_accuracy: 3.5549e-04
Epoch 73/100
179/179 [==============================] - 1s 5ms/step - loss: 0.0094 - accuracy: 1.7513e-04 - val_loss: 0.0118 - val_accuracy: 3.5549e-04
Epoch 74/100
179/179 [==============================] - 1s 5ms/step - loss: 0.0101 - accuracy: 1.7513e-04 - val_loss: 0.0083 - val_accuracy: 3.5549e-04
Epoch 75/100
179/179 [==============================] - 1s 6ms/step - loss: 0.0099 - accuracy: 1.7513e-04 - val_loss: 0.0084 - val_accuracy: 3.5549e-04
Epoch 76/100
179/179 [==============================] - 1s 5ms/step - loss: 0.0097 - accuracy: 1.7513e-04 - val_loss: 0.0121 - val_accuracy: 3.5549e-04
Epoch 77/100
179/179 [==============================] - 1s 5ms/step - loss: 0.0096 - accuracy: 1.7513e-04 - val_loss: 0.0085 - val_accuracy: 3.5549e-04
Epoch 78/100
179/179 [==============================] - 1s 6ms/step - loss: 0.0105 - accuracy: 1.7513e-04 - val_loss: 0.0091 - val_accuracy: 3.5549e-04
Epoch 79/100
179/179 [==============================] - 1s 5ms/step - loss: 0.0102 - accuracy: 1.7513e-04 - val_loss: 0.0092 - val_accuracy: 3.5549e-04
Epoch 80/100
179/179 [==============================] - 1s 5ms/step - loss: 0.0104 - accuracy: 1.7513e-04 - val_loss: 0.0154 - val_accuracy: 3.5549e-04
Epoch 81/100
179/179 [==============================] - 1s 6ms/step - loss: 0.0105 - accuracy: 1.7513e-04 - val_loss: 0.0092 - val_accuracy: 3.5549e-04
Epoch 82/100
179/179 [==============================] - 1s 6ms/step - loss: 0.0096 - accuracy: 1.7513e-04 - val_loss: 0.0085 - val_accuracy: 3.5549e-04
Epoch 83/100
179/179 [==============================] - 1s 6ms/step - loss: 0.0095 - accuracy: 1.7513e-04 - val_loss: 0.0082 - val_accuracy: 3.5549e-04
Epoch 84/100
179/179 [==============================] - 1s 5ms/step - loss: 0.0103 - accuracy: 1.7513e-04 - val_loss: 0.0092 - val_accuracy: 3.5549e-04
Epoch 85/100
179/179 [==============================] - 1s 5ms/step - loss: 0.0108 - accuracy: 1.7513e-04 - val_loss: 0.0083 - val_accuracy: 3.5549e-04
Epoch 86/100
179/179 [==============================] - 1s 5ms/step - loss: 0.0101 - accuracy: 1.7513e-04 - val_loss: 0.0090 - val_accuracy: 3.5549e-04
Epoch 87/100
179/179 [==============================] - 1s 6ms/step - loss: 0.0099 - accuracy: 1.7513e-04 - val_loss: 0.0102 - val_accuracy: 3.5549e-04
Epoch 88/100
179/179 [==============================] - 1s 5ms/step - loss: 0.0106 - accuracy: 1.7513e-04 - val_loss: 0.0084 - val_accuracy: 3.5549e-04
Epoch 89/100
179/179 [==============================] - 1s 5ms/step - loss: 0.0094 - accuracy: 1.7513e-04 - val_loss: 0.0081 - val_accuracy: 3.5549e-04
Epoch 90/100
179/179 [==============================] - 1s 5ms/step - loss: 0.0093 - accuracy: 1.7513e-04 - val_loss: 0.0088 - val_accuracy: 3.5549e-04
Epoch 91/100
179/179 [==============================] - 1s 5ms/step - loss: 0.0099 - accuracy: 1.7513e-04 - val_loss: 0.0081 - val_accuracy: 3.5549e-04
Epoch 92/100
179/179 [==============================] - 1s 5ms/step - loss: 0.0100 - accuracy: 1.7513e-04 - val_loss: 0.0110 - val_accuracy: 3.5549e-04
Epoch 93/100
179/179 [==============================] - 1s 5ms/step - loss: 0.0095 - accuracy: 1.7513e-04 - val_loss: 0.0082 - val_accuracy: 3.5549e-04
Epoch 94/100
179/179 [==============================] - 1s 7ms/step - loss: 0.0100 - accuracy: 1.7513e-04 - val_loss: 0.0104 - val_accuracy: 3.5549e-04
Epoch 95/100
179/179 [==============================] - 1s 5ms/step - loss: 0.0105 - accuracy: 1.7513e-04 - val_loss: 0.0081 - val_accuracy: 3.5549e-04
Epoch 96/100
179/179 [==============================] - 1s 5ms/step - loss: 0.0102 - accuracy: 1.7513e-04 - val_loss: 0.0094 - val_accuracy: 3.5549e-04
Epoch 97/100
179/179 [==============================] - 1s 5ms/step - loss: 0.0104 - accuracy: 1.7513e-04 - val_loss: 0.0084 - val_accuracy: 3.5549e-04
Epoch 98/100
179/179 [==============================] - 1s 6ms/step - loss: 0.0098 - accuracy: 1.7513e-04 - val_loss: 0.0083 - val_accuracy: 3.5549e-04
Epoch 99/100
179/179 [==============================] - 1s 6ms/step - loss: 0.0103 - accuracy: 1.7513e-04 - val_loss: 0.0114 - val_accuracy: 3.5549e-04
Epoch 100/100
179/179 [==============================] - 1s 5ms/step - loss: 0.0098 - accuracy: 1.7513e-04 - val_loss: 0.0084 - val_accuracy: 3.5549e-04

In [25]:
##### Evaluating model performance on validation set