<a href="https://colab.research.google.com/github/DiwakarBasnet/Neural_Network/blob/main/Sales_Prediction/Sales_Prediction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Big Mart Sales Prediction
-> Multilayer Perceptron (MLP)

In [1]:
# importing required libraries
import pandas as pd
import numpy as np
import sklearn
from sklearn.model_selection import train_test_split
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
# reading dataset
train_data = 'https://raw.githubusercontent.com/DiwakarBasnet/Neural_Network/main/Sales_Prediction/train_file.csv'
dataset = pd.read_csv(train_data)

##1.Data Preprocessing

In [3]:
dataset.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.30,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
1,DRC01,5.92,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
2,FDN15,17.50,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700
3,FDX07,19.20,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,NaN,Tier 3,Grocery Store,732.3800
4,NCD19,8.93,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052

In [4]:
# checking missing values in table
dataset.isnull().sum()

Item_Identifier                 0
Item_Weight                  1463
Item_Fat_Content                0
Item_Visibility                 0
Item_Type                       0
Item_MRP                        0
Outlet_Identifier               0
Outlet_Establishment_Year       0
Outlet_Size                  2410
Outlet_Location_Type            0
Outlet_Type                     0
Item_Outlet_Sales               0
dtype: int64

In [5]:
dataset.dtypes

Item_Identifier               object
Item_Weight                  float64
Item_Fat_Content              object
Item_Visibility              float64
Item_Type                     object
Item_MRP                     float64
Outlet_Identifier             object
Outlet_Establishment_Year      int64
Outlet_Size                   object
Outlet_Location_Type          object
Outlet_Type                   object
Item_Outlet_Sales            float64
dtype: object

###I. Filling missing values

In [6]:
# filling missing values of continuous data with mean
dataset['Item_Weight'].fillna(dataset['Item_Weight'].mean(), inplace=True)

# filling missing values of categorical data with mode
dataset['Outlet_Size'].fillna(dataset['Outlet_Size'].mode()[0], inplace=True)

In [7]:
# checking missing values after imputation
dataset.isnull().sum()

Item_Identifier              0
Item_Weight                  0
Item_Fat_Content             0
Item_Visibility              0
Item_Type                    0
Item_MRP                     0
Outlet_Identifier            0
Outlet_Establishment_Year    0
Outlet_Size                  0
Outlet_Location_Type         0
Outlet_Type                  0
Item_Outlet_Sales            0
dtype: int64

###II. Converting categorical data to numbers

In [8]:
print(dataset.Item_Fat_Content.value_counts())
print(dataset.Item_Type.value_counts())
print(dataset.Outlet_Size.value_counts())
print(dataset.Outlet_Location_Type.value_counts())
print(dataset.Outlet_Type.value_counts())

Low Fat    5089
Regular    2889
LF          316
reg         117
low fat     112
Name: Item_Fat_Content, dtype: int64
Fruits and Vegetables    1232
Snack Foods              1200
Household                 910
Frozen Foods              856
Dairy                     682
Canned                    649
Baking Goods              648
Health and Hygiene        520
Soft Drinks               445
Meat                      425
Breads                    251
Hard Drinks               214
Others                    169
Starchy Foods             148
Breakfast                 110
Seafood                    64
Name: Item_Type, dtype: int64
Medium    5203
Small     2388
High       932
Name: Outlet_Size, dtype: int64
Tier 3    3350
Tier 2    2785
Tier 1    2388
Name: Outlet_Location_Type, dtype: int64
Supermarket Type1    5577
Grocery Store        1083
Supermarket Type3     935
Supermarket Type2     928
Name: Outlet_Type, dtype: int64

In [9]:
dataset['Item_Fat_Content'] = dataset['Item_Fat_Content'].map({'LF':0, 'Low Fat':0, 'low fat':0, 'Regular':1, 'reg':1})
dataset['Item_Type'] = dataset['Item_Type'].map({'Fruits and Vegetables':0, 'Snack Foods':1, 'Household':2, 'Frozen Foods':3, 'Dairy':4,
                                                 'Canned':5, 'Baking Goods':6, 'Health and Hygiene':7, 'Soft Drinks':8, 'Meat':9,
                                                 'Breads':10, 'Hard Drinks':11, 'Others':12, 'Starchy Foods':13, 'Breakfast':14, 'Seafood':15})
dataset['Outlet_Size'] = dataset['Outlet_Size'].map({'Small':0, 'Medium':1, 'High':2})
dataset['Outlet_Location_Type'] = dataset['Outlet_Location_Type'].map({'Tier 1':0, 'Tier 2':1, 'Tier 3':2})
dataset['Outlet_Type'] = dataset['Outlet_Type'].map({'Grocery Store':0, 'Supermarket Type1':1, 'Supermarket Type2':2, 'Supermarket Type3':3})

In [10]:
dataset.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.30,0,0.016047,4,249.8092,OUT049,1999,1,0,1,3735.1380
1,DRC01,5.92,1,0.019278,8,48.2692,OUT018,2009,1,2,2,443.4228
2,FDN15,17.50,0,0.016760,9,141.6180,OUT049,1999,1,0,1,2097.2700
3,FDX07,19.20,1,0.000000,0,182.0950,OUT010,1998,1,2,0,732.3800
4,NCD19,8.93,0,0.000000,2,53.8614,OUT013,1987,2,2,1,994.7052

###III. Normalization

In [11]:
# bringing the variables in the range of 0 to 1
for i in dataset.columns[1:6]:
  dataset[i] = (dataset[i] - dataset[i].min()) / (dataset[i].max() - dataset[i].min())

for i in dataset.columns[7:11]:
  dataset[i] = (dataset[i] - dataset[i].min()) / (dataset[i].max() - dataset[i].min())

In [12]:
dataset.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,0.282525,0.0,0.048866,0.266667,0.927507,OUT049,0.583333,0.5,0.0,0.333333,3735.1380
1,DRC01,0.081274,1.0,0.058705,0.533333,0.072068,OUT018,1.000000,0.5,1.0,0.666667,443.4228
2,FDN15,0.770765,0.0,0.051037,0.600000,0.468288,OUT049,0.583333,0.5,0.0,0.333333,2097.2700
3,FDX07,0.871986,1.0,0.000000,0.000000,0.640093,OUT010,0.541667,0.5,1.0,0.000000,732.3800
4,NCD19,0.260494,0.0,0.000000,0.133333,0.095805,OUT013,0.083333,1.0,1.0,0.333333,994.7052

In [13]:
dataset.to_csv('normalized_train.csv', index=False)

In [14]:
data = pd.read_csv('normalized_train.csv')
# removing Item_Identifier and Outlet_Identifier
data = data.drop(['Item_Identifier', 'Outlet_Identifier'], axis=1)
data.head()

,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,0.282525,0.0,0.048866,0.266667,0.927507,0.583333,0.5,0.0,0.333333,3735.1380
1,0.081274,1.0,0.058705,0.533333,0.072068,1.000000,0.5,1.0,0.666667,443.4228
2,0.770765,0.0,0.051037,0.600000,0.468288,0.583333,0.5,0.0,0.333333,2097.2700
3,0.871986,1.0,0.000000,0.000000,0.640093,0.541667,0.5,1.0,0.000000,732.3800
4,0.260494,0.0,0.000000,0.133333,0.095805,0.083333,1.0,1.0,0.333333,994.7052

In [15]:
# storing all the features as X
X = data.drop('Item_Outlet_Sales', axis=1)
# storing target as y
y = data['Item_Outlet_Sales']
# shape of X and y
X.shape, y.shape

((8523, 9), (8523,))

In [16]:
##### creating training and validation set #####
# random state to regenerate same train and validation set
# test size 0.2 will keep 20% data in validation and 80% train set

X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42, test_size=0.2)

(X_train.shape, y_train.shape), (X_test.shape, y_test.shape)

(((6818, 9), (6818,)), ((1705, 9), (1705,)))

##2.Defining the architecture of model

In [17]:
import keras
import tensorflow as tf
from keras import backend as K
from keras.models import Sequential
from keras.layers import InputLayer, Dense

In [18]:
# defining input neurons
input_neurons = X_train.shape[1]
# defining output neurons
output_neurons = 1
# defining hidden layers and neurons in each layer
num_of_hidden_layers = 3
neuron_hidden_layer_1 = 30
neuron_hidden_layer_2 = 15
neuron_hidden_layer_3 = 5

In [19]:
from logging import INFO
model = Sequential()
model.add(InputLayer(input_shape=(input_neurons,)))
model.add(Dense(units=neuron_hidden_layer_1, activation='relu'))
model.add(Dense(units=neuron_hidden_layer_2, activation='relu'))
model.add(Dense(units=neuron_hidden_layer_3, activation='relu'))
model.add(Dense(units=output_neurons, activation='linear'))

In [20]:
model.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 30)                300

 dense_1 (Dense)             (None, 15)                465

 dense_2 (Dense)             (None, 5)                 80

 dense_3 (Dense)             (None, 1)                 6

=================================================================
Total params: 851
Trainable params: 851
Non-trainable params: 0
_________________________________________________________________

In [21]:
def root_mean_squared_error(y_true, y_pred):
        return K.sqrt(K.mean(K.square(y_pred - y_true))) 

##### Compiling the model #####
model.compile(loss = root_mean_squared_error, optimizer = 'Adam')

##3.Train model

In [22]:
model_history = model.fit(X_train, y_train, validation_data=(X_test, y_test), epochs=100)

Epoch 1/100
214/214 [==============================] - 2s 6ms/step - loss: 2745.6797 - val_loss: 2509.1692
Epoch 2/100
214/214 [==============================] - 1s 5ms/step - loss: 2073.2363 - val_loss: 1541.2068
Epoch 3/100
214/214 [==============================] - 1s 5ms/step - loss: 1601.9440 - val_loss: 1500.1617
Epoch 4/100
214/214 [==============================] - 1s 4ms/step - loss: 1558.6184 - val_loss: 1458.9213
Epoch 5/100
214/214 [==============================] - 1s 5ms/step - loss: 1506.4304 - val_loss: 1407.0758
Epoch 6/100
214/214 [==============================] - 1s 5ms/step - loss: 1453.3248 - val_loss: 1349.4536
Epoch 7/100
214/214 [==============================] - 1s 4ms/step - loss: 1392.7528 - val_loss: 1282.8160
Epoch 8/100
214/214 [==============================] - 1s 5ms/step - loss: 1327.8071 - val_loss: 1221.7614
Epoch 9/100
214/214 [==============================] - 1s 5ms/step - loss: 1274.1637 - val_loss: 1170.6025
Epoch 10/100
214/214 [==============================] - 1s 5ms/step - loss: 1236.6868 - val_loss: 1142.4061
Epoch 11/100
214/214 [==============================] - 1s 5ms/step - loss: 1215.2040 - val_loss: 1132.0096
Epoch 12/100
214/214 [==============================] - 1s 5ms/step - loss: 1204.6035 - val_loss: 1123.8641
Epoch 13/100
214/214 [==============================] - 1s 5ms/step - loss: 1200.2450 - val_loss: 1120.0826
Epoch 14/100
214/214 [==============================] - 1s 5ms/step - loss: 1198.6510 - val_loss: 1118.4011
Epoch 15/100
214/214 [==============================] - 1s 5ms/step - loss: 1195.1042 - val_loss: 1119.8733
Epoch 16/100
214/214 [==============================] - 1s 6ms/step - loss: 1198.8127 - val_loss: 1119.3859
Epoch 17/100
214/214 [==============================] - 1s 5ms/step - loss: 1194.5510 - val_loss: 1115.2233
Epoch 18/100
214/214 [==============================] - 1s 5ms/step - loss: 1192.2142 - val_loss: 1114.3690
Epoch 19/100
214/214 [==============================] - 1s 5ms/step - loss: 1190.2423 - val_loss: 1113.2510
Epoch 20/100
214/214 [==============================] - 1s 5ms/step - loss: 1191.4351 - val_loss: 1114.0959
Epoch 21/100
214/214 [==============================] - 1s 5ms/step - loss: 1191.1665 - val_loss: 1112.1572
Epoch 22/100
214/214 [==============================] - 1s 4ms/step - loss: 1190.9015 - val_loss: 1114.2043
Epoch 23/100
214/214 [==============================] - 1s 4ms/step - loss: 1190.1804 - val_loss: 1110.5249
Epoch 24/100
214/214 [==============================] - 1s 6ms/step - loss: 1189.1970 - val_loss: 1110.5352
Epoch 25/100
214/214 [==============================] - 1s 5ms/step - loss: 1187.1616 - val_loss: 1109.6370
Epoch 26/100
214/214 [==============================] - 1s 5ms/step - loss: 1189.1920 - val_loss: 1109.1572
Epoch 27/100
214/214 [==============================] - 1s 3ms/step - loss: 1187.2710 - val_loss: 1111.6472
Epoch 28/100
214/214 [==============================] - 0s 2ms/step - loss: 1185.2180 - val_loss: 1110.8395
Epoch 29/100
214/214 [==============================] - 1s 3ms/step - loss: 1189.6503 - val_loss: 1109.0380
Epoch 30/100
214/214 [==============================] - 0s 2ms/step - loss: 1186.5577 - val_loss: 1107.5797
Epoch 31/100
214/214 [==============================] - 1s 2ms/step - loss: 1185.8408 - val_loss: 1108.3682
Epoch 32/100
214/214 [==============================] - 0s 2ms/step - loss: 1185.3785 - val_loss: 1107.1874
Epoch 33/100
214/214 [==============================] - 1s 3ms/step - loss: 1183.5234 - val_loss: 1106.5706
Epoch 34/100
214/214 [==============================] - 1s 2ms/step - loss: 1181.1094 - val_loss: 1105.9539
Epoch 35/100
214/214 [==============================] - 1s 3ms/step - loss: 1185.5566 - val_loss: 1105.9933
Epoch 36/100
214/214 [==============================] - 1s 3ms/step - loss: 1186.2208 - val_loss: 1106.1244
Epoch 37/100
214/214 [==============================] - 0s 2ms/step - loss: 1181.8533 - val_loss: 1105.1234
Epoch 38/100
214/214 [==============================] - 0s 2ms/step - loss: 1184.5592 - val_loss: 1106.5005
Epoch 39/100
214/214 [==============================] - 1s 2ms/step - loss: 1185.3674 - val_loss: 1104.4252
Epoch 40/100
214/214 [==============================] - 0s 2ms/step - loss: 1180.0842 - val_loss: 1103.8849
Epoch 41/100
214/214 [==============================] - 1s 2ms/step - loss: 1184.2268 - val_loss: 1105.2921
Epoch 42/100
214/214 [==============================] - 0s 2ms/step - loss: 1182.5112 - val_loss: 1103.1222
Epoch 43/100
214/214 [==============================] - 1s 2ms/step - loss: 1184.1334 - val_loss: 1103.8456
Epoch 44/100
214/214 [==============================] - 0s 2ms/step - loss: 1182.4747 - val_loss: 1102.3519
Epoch 45/100
214/214 [==============================] - 1s 2ms/step - loss: 1179.1136 - val_loss: 1102.8722
Epoch 46/100
214/214 [==============================] - 1s 2ms/step - loss: 1183.0337 - val_loss: 1101.9126
Epoch 47/100
214/214 [==============================] - 1s 2ms/step - loss: 1179.8153 - val_loss: 1102.1782
Epoch 48/100
214/214 [==============================] - 1s 3ms/step - loss: 1180.1920 - val_loss: 1100.8015
Epoch 49/100
214/214 [==============================] - 1s 3ms/step - loss: 1180.1760 - val_loss: 1100.0449
Epoch 50/100
214/214 [==============================] - 0s 2ms/step - loss: 1179.2668 - val_loss: 1099.5751
Epoch 51/100
214/214 [==============================] - 0s 2ms/step - loss: 1178.1556 - val_loss: 1099.5830
Epoch 52/100
214/214 [==============================] - 0s 2ms/step - loss: 1179.6383 - val_loss: 1098.2319
Epoch 53/100
214/214 [==============================] - 1s 3ms/step - loss: 1177.5640 - val_loss: 1098.4390
Epoch 54/100
214/214 [==============================] - 1s 4ms/step - loss: 1175.6741 - val_loss: 1097.2269
Epoch 55/100
214/214 [==============================] - 1s 3ms/step - loss: 1176.3185 - val_loss: 1097.3573
Epoch 56/100
214/214 [==============================] - 0s 2ms/step - loss: 1171.8717 - val_loss: 1099.9727
Epoch 57/100
214/214 [==============================] - 0s 2ms/step - loss: 1175.6298 - val_loss: 1096.9827
Epoch 58/100
214/214 [==============================] - 1s 3ms/step - loss: 1172.5010 - val_loss: 1102.3636
Epoch 59/100
214/214 [==============================] - 1s 3ms/step - loss: 1172.2402 - val_loss: 1092.6575
Epoch 60/100
214/214 [==============================] - 0s 2ms/step - loss: 1170.6705 - val_loss: 1091.2938
Epoch 61/100
214/214 [==============================] - 1s 2ms/step - loss: 1168.2899 - val_loss: 1089.8765
Epoch 62/100
214/214 [==============================] - 1s 2ms/step - loss: 1164.3385 - val_loss: 1088.7709
Epoch 63/100
214/214 [==============================] - 0s 2ms/step - loss: 1166.5265 - val_loss: 1090.7251
Epoch 64/100
214/214 [==============================] - 1s 3ms/step - loss: 1166.1449 - val_loss: 1085.7605
Epoch 65/100
214/214 [==============================] - 1s 3ms/step - loss: 1163.6217 - val_loss: 1084.3494
Epoch 66/100
214/214 [==============================] - 1s 2ms/step - loss: 1163.8688 - val_loss: 1082.9977
Epoch 67/100
214/214 [==============================] - 0s 2ms/step - loss: 1161.3740 - val_loss: 1081.0120
Epoch 68/100
214/214 [==============================] - 0s 2ms/step - loss: 1161.4764 - val_loss: 1079.3091
Epoch 69/100
214/214 [==============================] - 1s 2ms/step - loss: 1154.4154 - val_loss: 1081.4594
Epoch 70/100
214/214 [==============================] - 1s 3ms/step - loss: 1158.1233 - val_loss: 1079.0024
Epoch 71/100
214/214 [==============================] - 0s 2ms/step - loss: 1155.1890 - val_loss: 1075.9316
Epoch 72/100
214/214 [==============================] - 0s 2ms/step - loss: 1152.6404 - val_loss: 1074.3093
Epoch 73/100
214/214 [==============================] - 1s 3ms/step - loss: 1153.9000 - val_loss: 1071.2811
Epoch 74/100
214/214 [==============================] - 1s 2ms/step - loss: 1148.9257 - val_loss: 1070.2557
Epoch 75/100
214/214 [==============================] - 0s 2ms/step - loss: 1144.4131 - val_loss: 1067.9553
Epoch 76/100
214/214 [==============================] - 1s 2ms/step - loss: 1143.5039 - val_loss: 1067.8284
Epoch 77/100
214/214 [==============================] - 1s 2ms/step - loss: 1144.4617 - val_loss: 1065.3485
Epoch 78/100
214/214 [==============================] - 1s 3ms/step - loss: 1141.4858 - val_loss: 1064.2776
Epoch 79/100
214/214 [==============================] - 1s 3ms/step - loss: 1141.6257 - val_loss: 1061.3567
Epoch 80/100
214/214 [==============================] - 0s 2ms/step - loss: 1143.4160 - val_loss: 1059.8121
Epoch 81/100
214/214 [==============================] - 0s 2ms/step - loss: 1140.9799 - val_loss: 1058.3365
Epoch 82/100
214/214 [==============================] - 1s 2ms/step - loss: 1137.2007 - val_loss: 1064.1389
Epoch 83/100
214/214 [==============================] - 0s 2ms/step - loss: 1138.2723 - val_loss: 1059.4062
Epoch 84/100
214/214 [==============================] - 0s 2ms/step - loss: 1132.3804 - val_loss: 1054.0206
Epoch 85/100
214/214 [==============================] - 1s 3ms/step - loss: 1133.5225 - val_loss: 1053.2979
Epoch 86/100
214/214 [==============================] - 0s 2ms/step - loss: 1129.8475 - val_loss: 1051.6085
Epoch 87/100
214/214 [==============================] - 1s 2ms/step - loss: 1130.8340 - val_loss: 1051.6537
Epoch 88/100
214/214 [==============================] - 1s 2ms/step - loss: 1129.8196 - val_loss: 1054.1709
Epoch 89/100
214/214 [==============================] - 1s 3ms/step - loss: 1126.6046 - val_loss: 1047.8206
Epoch 90/100
214/214 [==============================] - 1s 2ms/step - loss: 1126.3959 - val_loss: 1047.5938
Epoch 91/100
214/214 [==============================] - 1s 2ms/step - loss: 1126.9067 - val_loss: 1046.4104
Epoch 92/100
214/214 [==============================] - 0s 2ms/step - loss: 1123.7329 - val_loss: 1044.9496
Epoch 93/100
214/214 [==============================] - 1s 2ms/step - loss: 1123.4442 - val_loss: 1043.0184
Epoch 94/100
214/214 [==============================] - 1s 3ms/step - loss: 1123.6860 - val_loss: 1043.0913
Epoch 95/100
214/214 [==============================] - 1s 3ms/step - loss: 1120.6608 - val_loss: 1042.0269
Epoch 96/100
214/214 [==============================] - 1s 2ms/step - loss: 1123.2437 - val_loss: 1040.4961
Epoch 97/100
214/214 [==============================] - 1s 3ms/step - loss: 1120.1523 - val_loss: 1040.0662
Epoch 98/100
214/214 [==============================] - 1s 2ms/step - loss: 1119.8397 - val_loss: 1038.8378
Epoch 99/100
214/214 [==============================] - 0s 2ms/step - loss: 1118.5686 - val_loss: 1038.3329
Epoch 100/100
214/214 [==============================] - 1s 3ms/step - loss: 1117.3757 - val_loss: 1037.8035

In [23]:
from sklearn.metrics import r2_score
##### Evaluating model performance on validation set #####
prediction = model.predict(X_test)

# calculating the accuracy on validation set
r2_score(y_test, prediction)

0.5846397547775037

##4.Test Data Preprocessing

In [24]:
test_data = 'https://raw.githubusercontent.com/DiwakarBasnet/Neural_Network/main/Sales_Prediction/test_file.csv'
check = pd.read_csv(test_data)

In [25]:
check.isnull().sum()

Item_Identifier                 0
Item_Weight                   976
Item_Fat_Content                0
Item_Visibility                 0
Item_Type                       0
Item_MRP                        0
Outlet_Identifier               0
Outlet_Establishment_Year       0
Outlet_Size                  1606
Outlet_Location_Type            0
Outlet_Type                     0
dtype: int64

###I. Filling Missing Values

In [26]:
# filling missing values of continuous data with mean
check['Item_Weight'].fillna(check['Item_Weight'].mean(), inplace=True)

# filling missing values of categorical data with mode
check['Outlet_Size'].fillna(check['Outlet_Size'].mode()[0], inplace=True)

In [27]:
# checking missing values after imputation
check.isnull().sum()

Item_Identifier              0
Item_Weight                  0
Item_Fat_Content             0
Item_Visibility              0
Item_Type                    0
Item_MRP                     0
Outlet_Identifier            0
Outlet_Establishment_Year    0
Outlet_Size                  0
Outlet_Location_Type         0
Outlet_Type                  0
dtype: int64

###II. Converting categorical data to numerical

In [28]:
check['Item_Fat_Content'] = check['Item_Fat_Content'].map({'LF':0, 'Low Fat':0, 'low fat':0, 'Regular':1, 'reg':1})
check['Item_Type'] = check['Item_Type'].map({'Fruits and Vegetables':0, 'Snack Foods':1, 'Household':2, 'Frozen Foods':3, 'Dairy':4,
                                                 'Canned':5, 'Baking Goods':6, 'Health and Hygiene':7, 'Soft Drinks':8, 'Meat':9,
                                                 'Breads':10, 'Hard Drinks':11, 'Others':12, 'Starchy Foods':13, 'Breakfast':14, 'Seafood':15})
check['Outlet_Size'] = check['Outlet_Size'].map({'Small':0, 'Medium':1, 'High':2})
check['Outlet_Location_Type'] = check['Outlet_Location_Type'].map({'Tier 1':0, 'Tier 2':1, 'Tier 3':2})
check['Outlet_Type'] = check['Outlet_Type'].map({'Grocery Store':0, 'Supermarket Type1':1, 'Supermarket Type2':2, 'Supermarket Type3':3})

In [29]:
check.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type
0,FDW58,20.750000,0,0.007565,1,107.8622,OUT049,1999,1,0,1
1,FDW14,8.300000,1,0.038428,4,87.3198,OUT017,2007,1,1,1
2,NCN55,14.600000,0,0.099575,12,241.7538,OUT010,1998,1,2,0
3,FDQ58,7.315000,0,0.015388,1,155.0340,OUT017,2007,1,1,1
4,FDY38,12.695633,1,0.118599,4,234.2300,OUT027,1985,1,2,3

###III. Normalization

In [30]:
# bringing the variables in the range of 0 to 1
for i in check.columns[1:6]:
  check[i] = (check[i] - check[i].min()) / (check[i].max() - check[i].min())

for i in check.columns[7:]:
  check[i] = (check[i] - check[i].min()) / (check[i].max() - check[i].min())

In [31]:
check.to_csv('normalized_test.csv', index=False)

In [32]:
data_test = pd.read_csv('normalized_test.csv')

In [33]:
# removing Item_Identifier and Outlet_Identifier
new_test_data = data_test.drop(['Item_Identifier', 'Outlet_Identifier'], axis=1)

In [34]:
new_test_data.head()

,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type
0,0.964275,0.0,0.023374,0.066667,0.323413,0.583333,0.5,0.0,0.333333
1,0.222983,1.0,0.118737,0.266667,0.235849,0.916667,0.5,0.5,0.333333
2,0.598095,0.0,0.307674,0.800000,0.894140,0.541667,0.5,1.0,0.000000
3,0.164335,0.0,0.047548,0.066667,0.524488,0.916667,0.5,0.5,0.333333
4,0.484706,1.0,0.366458,0.266667,0.862069,0.000000,0.5,1.0,1.000000

In [35]:
pred = model.predict(new_test_data)

In [36]:
df = pd.DataFrame()
df['Item_Identifier'] = data_test['Item_Identifier']
df['Outlet_Identifier'] = data_test['Outlet_Identifier']
df['Item_Outlet_Sales']= pred

df

     Item_Identifier Outlet_Identifier  Item_Outlet_Sales
0              FDW58            OUT049        1859.678955
1              FDW14            OUT017        1364.975586
2              NCN55            OUT010        1283.995972
3              FDQ58            OUT017        2388.194824
4              FDY38            OUT027        5445.357910
...              ...               ...                ...
5676           FDB58            OUT046        2383.180420
5677           FDD47            OUT018        2741.721436
5678           NCO17            OUT045        1407.665894
5679           FDJ26            OUT017        3334.862061
5680           FDU37            OUT045         834.614746

[5681 rows x 3 columns]

In [37]:
df.to_csv('solution.csv', index=False)