<a href="https://colab.research.google.com/github/DiwakarBasnet/Neural_Network/blob/main/Sales_Prediction/Sales_Prediction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Big Mart Sales Prediction
-> Multilayer Perceptron (MLP)

In [1]:
# importing required libraries
import pandas as pd
import numpy as np
import sklearn
from sklearn.model_selection import train_test_split
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
# reading dataset
train_data = 'https://raw.githubusercontent.com/DiwakarBasnet/Neural_Network/main/Sales_Prediction/train_file.csv'
dataset = pd.read_csv(train_data)

##1.Data Preprocessing

In [3]:
dataset.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.30,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
1,DRC01,5.92,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
2,FDN15,17.50,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700
3,FDX07,19.20,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,NaN,Tier 3,Grocery Store,732.3800
4,NCD19,8.93,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052

In [4]:
# checking missing values in table
dataset.isnull().sum()

Item_Identifier                 0
Item_Weight                  1463
Item_Fat_Content                0
Item_Visibility                 0
Item_Type                       0
Item_MRP                        0
Outlet_Identifier               0
Outlet_Establishment_Year       0
Outlet_Size                  2410
Outlet_Location_Type            0
Outlet_Type                     0
Item_Outlet_Sales               0
dtype: int64

In [5]:
dataset.dtypes

Item_Identifier               object
Item_Weight                  float64
Item_Fat_Content              object
Item_Visibility              float64
Item_Type                     object
Item_MRP                     float64
Outlet_Identifier             object
Outlet_Establishment_Year      int64
Outlet_Size                   object
Outlet_Location_Type          object
Outlet_Type                   object
Item_Outlet_Sales            float64
dtype: object

###I. Filling missing values

In [6]:
# filling missing values of continuous data with mean
dataset['Item_Weight'].fillna(dataset['Item_Weight'].mean(), inplace=True)

# filling missing values of categorical data with mode
dataset['Outlet_Size'].fillna(dataset['Outlet_Size'].mode()[0], inplace=True)

In [7]:
# checking missing values after imputation
dataset.isnull().sum()

Item_Identifier              0
Item_Weight                  0
Item_Fat_Content             0
Item_Visibility              0
Item_Type                    0
Item_MRP                     0
Outlet_Identifier            0
Outlet_Establishment_Year    0
Outlet_Size                  0
Outlet_Location_Type         0
Outlet_Type                  0
Item_Outlet_Sales            0
dtype: int64

###II. Converting categorical data to numbers

In [8]:
print(dataset.Item_Fat_Content.value_counts())
print(dataset.Item_Type.value_counts())
print(dataset.Outlet_Size.value_counts())
print(dataset.Outlet_Location_Type.value_counts())
print(dataset.Outlet_Type.value_counts())

Low Fat    5089
Regular    2889
LF          316
reg         117
low fat     112
Name: Item_Fat_Content, dtype: int64
Fruits and Vegetables    1232
Snack Foods              1200
Household                 910
Frozen Foods              856
Dairy                     682
Canned                    649
Baking Goods              648
Health and Hygiene        520
Soft Drinks               445
Meat                      425
Breads                    251
Hard Drinks               214
Others                    169
Starchy Foods             148
Breakfast                 110
Seafood                    64
Name: Item_Type, dtype: int64
Medium    5203
Small     2388
High       932
Name: Outlet_Size, dtype: int64
Tier 3    3350
Tier 2    2785
Tier 1    2388
Name: Outlet_Location_Type, dtype: int64
Supermarket Type1    5577
Grocery Store        1083
Supermarket Type3     935
Supermarket Type2     928
Name: Outlet_Type, dtype: int64

In [9]:
dataset['Item_Fat_Content'] = dataset['Item_Fat_Content'].map({'LF':0, 'Low Fat':0, 'low fat':0, 'Regular':1, 'reg':1})
dataset['Item_Type'] = dataset['Item_Type'].map({'Fruits and Vegetables':0, 'Snack Foods':1, 'Household':2, 'Frozen Foods':3, 'Dairy':4,
                                                 'Canned':5, 'Baking Goods':6, 'Health and Hygiene':7, 'Soft Drinks':8, 'Meat':9,
                                                 'Breads':10, 'Hard Drinks':11, 'Others':12, 'Starchy Foods':13, 'Breakfast':14, 'Seafood':15})
dataset['Outlet_Size'] = dataset['Outlet_Size'].map({'Small':0, 'Medium':1, 'High':2})
dataset['Outlet_Location_Type'] = dataset['Outlet_Location_Type'].map({'Tier 1':0, 'Tier 2':1, 'Tier 3':2})
dataset['Outlet_Type'] = dataset['Outlet_Type'].map({'Grocery Store':0, 'Supermarket Type1':1, 'Supermarket Type2':2, 'Supermarket Type3':3})

In [10]:
dataset.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.30,0,0.016047,4,249.8092,OUT049,1999,1,0,1,3735.1380
1,DRC01,5.92,1,0.019278,8,48.2692,OUT018,2009,1,2,2,443.4228
2,FDN15,17.50,0,0.016760,9,141.6180,OUT049,1999,1,0,1,2097.2700
3,FDX07,19.20,1,0.000000,0,182.0950,OUT010,1998,1,2,0,732.3800
4,NCD19,8.93,0,0.000000,2,53.8614,OUT013,1987,2,2,1,994.7052

###III. Normalization

In [11]:
# bringing the variables in the range of 0 to 1
for i in dataset.columns[1:6]:
  dataset[i] = (dataset[i] - dataset[i].min()) / (dataset[i].max() - dataset[i].min())

for i in dataset.columns[7:11]:
  dataset[i] = (dataset[i] - dataset[i].min()) / (dataset[i].max() - dataset[i].min())

In [12]:
dataset.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,0.282525,0.0,0.048866,0.266667,0.927507,OUT049,0.583333,0.5,0.0,0.333333,3735.1380
1,DRC01,0.081274,1.0,0.058705,0.533333,0.072068,OUT018,1.000000,0.5,1.0,0.666667,443.4228
2,FDN15,0.770765,0.0,0.051037,0.600000,0.468288,OUT049,0.583333,0.5,0.0,0.333333,2097.2700
3,FDX07,0.871986,1.0,0.000000,0.000000,0.640093,OUT010,0.541667,0.5,1.0,0.000000,732.3800
4,NCD19,0.260494,0.0,0.000000,0.133333,0.095805,OUT013,0.083333,1.0,1.0,0.333333,994.7052

In [13]:
dataset.to_csv('normalized_train.csv', index=False)

In [14]:
data = pd.read_csv('normalized_train.csv')
# removing Item_Identifier and Outlet_Identifier
data = data.drop(['Item_Identifier', 'Outlet_Identifier'], axis=1)
data.head()

,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,0.282525,0.0,0.048866,0.266667,0.927507,0.583333,0.5,0.0,0.333333,3735.1380
1,0.081274,1.0,0.058705,0.533333,0.072068,1.000000,0.5,1.0,0.666667,443.4228
2,0.770765,0.0,0.051037,0.600000,0.468288,0.583333,0.5,0.0,0.333333,2097.2700
3,0.871986,1.0,0.000000,0.000000,0.640093,0.541667,0.5,1.0,0.000000,732.3800
4,0.260494,0.0,0.000000,0.133333,0.095805,0.083333,1.0,1.0,0.333333,994.7052

In [15]:
# storing all the features as X
X = data.drop('Item_Outlet_Sales', axis=1)
# storing target as y
y = dataset['Item_Outlet_Sales']
# shape of X and y
X.shape, y.shape

((8523, 9), (8523,))

In [16]:
##### creating training and validation set #####
# random state to regenerate same train and validation set
# test size 0.2 will keep 20% data in validation and 80% train set

X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42, test_size=0.2)

(X_train.shape, y_train.shape), (X_test.shape, y_test.shape)

(((6818, 9), (6818,)), ((1705, 9), (1705,)))

##2.Defining the architecture of model

In [17]:
import keras
import tensorflow as tf
from keras import backend as K
from keras.models import Sequential
from keras.layers import InputLayer, Dense

In [18]:
# defining input neurons
input_neurons = X_train.shape[1]
# defining output neurons
output_neurons = 1
# defining hidden layers and neurons in each layer
num_of_hidden_layers = 3
neuron_hidden_layer_1 = 30
neuron_hidden_layer_2 = 15
neuron_hidden_layer_3 = 5

In [19]:
from logging import INFO
model = Sequential()
model.add(InputLayer(input_shape=(input_neurons,)))
model.add(Dense(units=neuron_hidden_layer_1, activation='relu'))
model.add(Dense(units=neuron_hidden_layer_2, activation='relu'))
model.add(Dense(units=neuron_hidden_layer_3, activation='relu'))
model.add(Dense(units=output_neurons, activation='linear'))

In [20]:
model.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 30)                300

 dense_1 (Dense)             (None, 15)                465

 dense_2 (Dense)             (None, 5)                 80

 dense_3 (Dense)             (None, 1)                 6

=================================================================
Total params: 851
Trainable params: 851
Non-trainable params: 0
_________________________________________________________________

In [21]:
def root_mean_squared_error(y_true, y_pred):
        return K.sqrt(K.mean(K.square(y_pred - y_true))) 

##### Compiling the model #####
model.compile(loss = root_mean_squared_error, optimizer = 'Adam', metrics = ['accuracy'])

##3.Train model

In [22]:
model_history = model.fit(X_train, y_train, validation_data=(X_test, y_test), epochs=250)

Epoch 1/250
214/214 [==============================] - 2s 6ms/step - loss: 2761.0710 - accuracy: 0.0000e+00 - val_loss: 2584.1372 - val_accuracy: 0.0000e+00
Epoch 2/250
214/214 [==============================] - 1s 5ms/step - loss: 2380.6516 - accuracy: 0.0000e+00 - val_loss: 1752.8347 - val_accuracy: 0.0000e+00
Epoch 3/250
214/214 [==============================] - 1s 5ms/step - loss: 1658.4048 - accuracy: 0.0000e+00 - val_loss: 1529.8018 - val_accuracy: 0.0000e+00
Epoch 4/250
214/214 [==============================] - 1s 5ms/step - loss: 1590.5647 - accuracy: 0.0000e+00 - val_loss: 1498.7831 - val_accuracy: 0.0000e+00
Epoch 5/250
214/214 [==============================] - 1s 5ms/step - loss: 1558.8204 - accuracy: 0.0000e+00 - val_loss: 1464.7913 - val_accuracy: 0.0000e+00
Epoch 6/250
214/214 [==============================] - 1s 4ms/step - loss: 1524.8617 - accuracy: 0.0000e+00 - val_loss: 1427.6132 - val_accuracy: 0.0000e+00
Epoch 7/250
214/214 [==============================] - 1s 4ms/step - loss: 1486.3513 - accuracy: 0.0000e+00 - val_loss: 1388.1422 - val_accuracy: 0.0000e+00
Epoch 8/250
214/214 [==============================] - 1s 4ms/step - loss: 1439.5947 - accuracy: 0.0000e+00 - val_loss: 1343.1754 - val_accuracy: 0.0000e+00
Epoch 9/250
214/214 [==============================] - 1s 5ms/step - loss: 1390.2386 - accuracy: 0.0000e+00 - val_loss: 1288.6158 - val_accuracy: 0.0000e+00
Epoch 10/250
214/214 [==============================] - 1s 5ms/step - loss: 1338.2982 - accuracy: 0.0000e+00 - val_loss: 1238.2799 - val_accuracy: 0.0000e+00
Epoch 11/250
214/214 [==============================] - 1s 5ms/step - loss: 1294.1071 - accuracy: 0.0000e+00 - val_loss: 1193.9421 - val_accuracy: 0.0000e+00
Epoch 12/250
214/214 [==============================] - 1s 5ms/step - loss: 1255.8185 - accuracy: 0.0000e+00 - val_loss: 1163.3560 - val_accuracy: 0.0000e+00
Epoch 13/250
214/214 [==============================] - 1s 5ms/step - loss: 1228.5991 - accuracy: 0.0000e+00 - val_loss: 1141.3566 - val_accuracy: 0.0000e+00
Epoch 14/250
214/214 [==============================] - 1s 5ms/step - loss: 1214.5780 - accuracy: 0.0000e+00 - val_loss: 1130.7155 - val_accuracy: 0.0000e+00
Epoch 15/250
214/214 [==============================] - 1s 6ms/step - loss: 1206.3120 - accuracy: 0.0000e+00 - val_loss: 1125.5208 - val_accuracy: 0.0000e+00
Epoch 16/250
214/214 [==============================] - 1s 4ms/step - loss: 1204.1130 - accuracy: 0.0000e+00 - val_loss: 1126.0917 - val_accuracy: 0.0000e+00
Epoch 17/250
214/214 [==============================] - 1s 5ms/step - loss: 1200.1046 - accuracy: 0.0000e+00 - val_loss: 1124.4578 - val_accuracy: 0.0000e+00
Epoch 18/250
214/214 [==============================] - 1s 5ms/step - loss: 1197.7714 - accuracy: 0.0000e+00 - val_loss: 1120.2006 - val_accuracy: 0.0000e+00
Epoch 19/250
214/214 [==============================] - 1s 4ms/step - loss: 1199.3986 - accuracy: 0.0000e+00 - val_loss: 1120.1201 - val_accuracy: 0.0000e+00
Epoch 20/250
214/214 [==============================] - 1s 4ms/step - loss: 1196.0645 - accuracy: 0.0000e+00 - val_loss: 1119.9121 - val_accuracy: 0.0000e+00
Epoch 21/250
214/214 [==============================] - 1s 4ms/step - loss: 1195.1381 - accuracy: 0.0000e+00 - val_loss: 1116.8489 - val_accuracy: 0.0000e+00
Epoch 22/250
214/214 [==============================] - 1s 6ms/step - loss: 1195.1458 - accuracy: 0.0000e+00 - val_loss: 1117.1813 - val_accuracy: 0.0000e+00
Epoch 23/250
214/214 [==============================] - 1s 4ms/step - loss: 1193.7386 - accuracy: 0.0000e+00 - val_loss: 1116.5571 - val_accuracy: 0.0000e+00
Epoch 24/250
214/214 [==============================] - 1s 6ms/step - loss: 1194.5719 - accuracy: 0.0000e+00 - val_loss: 1115.3066 - val_accuracy: 0.0000e+00
Epoch 25/250
214/214 [==============================] - 1s 3ms/step - loss: 1194.7534 - accuracy: 0.0000e+00 - val_loss: 1115.1818 - val_accuracy: 0.0000e+00
Epoch 26/250
214/214 [==============================] - 0s 2ms/step - loss: 1191.1738 - accuracy: 0.0000e+00 - val_loss: 1114.9745 - val_accuracy: 0.0000e+00
Epoch 27/250
214/214 [==============================] - 0s 2ms/step - loss: 1193.4652 - accuracy: 0.0000e+00 - val_loss: 1113.3763 - val_accuracy: 0.0000e+00
Epoch 28/250
214/214 [==============================] - 0s 2ms/step - loss: 1190.8175 - accuracy: 0.0000e+00 - val_loss: 1112.9777 - val_accuracy: 0.0000e+00
Epoch 29/250
214/214 [==============================] - 0s 2ms/step - loss: 1191.2993 - accuracy: 0.0000e+00 - val_loss: 1112.8308 - val_accuracy: 0.0000e+00
Epoch 30/250
214/214 [==============================] - 0s 2ms/step - loss: 1190.4735 - accuracy: 0.0000e+00 - val_loss: 1112.6696 - val_accuracy: 0.0000e+00
Epoch 31/250
214/214 [==============================] - 0s 2ms/step - loss: 1192.2583 - accuracy: 0.0000e+00 - val_loss: 1112.0898 - val_accuracy: 0.0000e+00
Epoch 32/250
214/214 [==============================] - 0s 2ms/step - loss: 1188.8929 - accuracy: 0.0000e+00 - val_loss: 1115.1003 - val_accuracy: 0.0000e+00
Epoch 33/250
214/214 [==============================] - 0s 2ms/step - loss: 1192.0396 - accuracy: 0.0000e+00 - val_loss: 1111.6707 - val_accuracy: 0.0000e+00
Epoch 34/250
214/214 [==============================] - 0s 2ms/step - loss: 1188.0787 - accuracy: 0.0000e+00 - val_loss: 1112.0323 - val_accuracy: 0.0000e+00
Epoch 35/250
214/214 [==============================] - 0s 2ms/step - loss: 1189.1592 - accuracy: 0.0000e+00 - val_loss: 1110.9244 - val_accuracy: 0.0000e+00
Epoch 36/250
214/214 [==============================] - 0s 2ms/step - loss: 1190.7369 - accuracy: 0.0000e+00 - val_loss: 1110.8693 - val_accuracy: 0.0000e+00
Epoch 37/250
214/214 [==============================] - 0s 2ms/step - loss: 1188.7546 - accuracy: 0.0000e+00 - val_loss: 1110.7452 - val_accuracy: 0.0000e+00
Epoch 38/250
214/214 [==============================] - 0s 2ms/step - loss: 1185.8502 - accuracy: 0.0000e+00 - val_loss: 1111.7462 - val_accuracy: 0.0000e+00
Epoch 39/250
214/214 [==============================] - 0s 2ms/step - loss: 1187.1498 - accuracy: 0.0000e+00 - val_loss: 1110.8322 - val_accuracy: 0.0000e+00
Epoch 40/250
214/214 [==============================] - 0s 2ms/step - loss: 1187.8030 - accuracy: 0.0000e+00 - val_loss: 1109.6554 - val_accuracy: 0.0000e+00
Epoch 41/250
214/214 [==============================] - 0s 2ms/step - loss: 1188.9374 - accuracy: 0.0000e+00 - val_loss: 1112.0236 - val_accuracy: 0.0000e+00
Epoch 42/250
214/214 [==============================] - 0s 2ms/step - loss: 1187.0042 - accuracy: 0.0000e+00 - val_loss: 1109.3328 - val_accuracy: 0.0000e+00
Epoch 43/250
214/214 [==============================] - 0s 2ms/step - loss: 1186.1003 - accuracy: 0.0000e+00 - val_loss: 1109.6588 - val_accuracy: 0.0000e+00
Epoch 44/250
214/214 [==============================] - 0s 2ms/step - loss: 1187.4788 - accuracy: 0.0000e+00 - val_loss: 1108.8397 - val_accuracy: 0.0000e+00
Epoch 45/250
214/214 [==============================] - 0s 2ms/step - loss: 1190.3755 - accuracy: 0.0000e+00 - val_loss: 1108.6736 - val_accuracy: 0.0000e+00
Epoch 46/250
214/214 [==============================] - 0s 2ms/step - loss: 1188.0594 - accuracy: 0.0000e+00 - val_loss: 1108.5729 - val_accuracy: 0.0000e+00
Epoch 47/250
214/214 [==============================] - 0s 2ms/step - loss: 1187.5223 - accuracy: 0.0000e+00 - val_loss: 1109.2473 - val_accuracy: 0.0000e+00
Epoch 48/250
214/214 [==============================] - 0s 2ms/step - loss: 1186.7052 - accuracy: 0.0000e+00 - val_loss: 1108.7188 - val_accuracy: 0.0000e+00
Epoch 49/250
214/214 [==============================] - 0s 2ms/step - loss: 1188.7098 - accuracy: 0.0000e+00 - val_loss: 1108.2469 - val_accuracy: 0.0000e+00
Epoch 50/250
214/214 [==============================] - 0s 2ms/step - loss: 1190.0072 - accuracy: 0.0000e+00 - val_loss: 1108.6409 - val_accuracy: 0.0000e+00
Epoch 51/250
214/214 [==============================] - 0s 2ms/step - loss: 1187.6990 - accuracy: 0.0000e+00 - val_loss: 1108.0781 - val_accuracy: 0.0000e+00
Epoch 52/250
214/214 [==============================] - 0s 2ms/step - loss: 1188.4154 - accuracy: 0.0000e+00 - val_loss: 1109.1643 - val_accuracy: 0.0000e+00
Epoch 53/250
214/214 [==============================] - 0s 2ms/step - loss: 1186.9395 - accuracy: 0.0000e+00 - val_loss: 1107.6847 - val_accuracy: 0.0000e+00
Epoch 54/250
214/214 [==============================] - 0s 2ms/step - loss: 1189.3116 - accuracy: 0.0000e+00 - val_loss: 1109.4790 - val_accuracy: 0.0000e+00
Epoch 55/250
214/214 [==============================] - 0s 2ms/step - loss: 1187.4692 - accuracy: 0.0000e+00 - val_loss: 1107.5037 - val_accuracy: 0.0000e+00
Epoch 56/250
214/214 [==============================] - 0s 2ms/step - loss: 1185.4926 - accuracy: 0.0000e+00 - val_loss: 1110.9747 - val_accuracy: 0.0000e+00
Epoch 57/250
214/214 [==============================] - 0s 2ms/step - loss: 1187.6021 - accuracy: 0.0000e+00 - val_loss: 1107.1421 - val_accuracy: 0.0000e+00
Epoch 58/250
214/214 [==============================] - 0s 2ms/step - loss: 1188.3899 - accuracy: 0.0000e+00 - val_loss: 1107.9854 - val_accuracy: 0.0000e+00
Epoch 59/250
214/214 [==============================] - 0s 2ms/step - loss: 1187.8898 - accuracy: 0.0000e+00 - val_loss: 1107.2871 - val_accuracy: 0.0000e+00
Epoch 60/250
214/214 [==============================] - 0s 2ms/step - loss: 1186.1772 - accuracy: 0.0000e+00 - val_loss: 1106.9429 - val_accuracy: 0.0000e+00
Epoch 61/250
214/214 [==============================] - 0s 2ms/step - loss: 1186.7944 - accuracy: 0.0000e+00 - val_loss: 1107.6791 - val_accuracy: 0.0000e+00
Epoch 62/250
214/214 [==============================] - 0s 2ms/step - loss: 1186.6260 - accuracy: 0.0000e+00 - val_loss: 1106.9380 - val_accuracy: 0.0000e+00
Epoch 63/250
214/214 [==============================] - 0s 2ms/step - loss: 1187.5488 - accuracy: 0.0000e+00 - val_loss: 1107.2648 - val_accuracy: 0.0000e+00
Epoch 64/250
214/214 [==============================] - 0s 2ms/step - loss: 1185.5442 - accuracy: 0.0000e+00 - val_loss: 1109.5393 - val_accuracy: 0.0000e+00
Epoch 65/250
214/214 [==============================] - 0s 2ms/step - loss: 1184.8127 - accuracy: 0.0000e+00 - val_loss: 1106.7251 - val_accuracy: 0.0000e+00
Epoch 66/250
214/214 [==============================] - 0s 2ms/step - loss: 1187.0737 - accuracy: 0.0000e+00 - val_loss: 1108.9490 - val_accuracy: 0.0000e+00
Epoch 67/250
214/214 [==============================] - 0s 2ms/step - loss: 1185.3833 - accuracy: 0.0000e+00 - val_loss: 1106.9572 - val_accuracy: 0.0000e+00
Epoch 68/250
214/214 [==============================] - 0s 2ms/step - loss: 1185.7899 - accuracy: 0.0000e+00 - val_loss: 1106.4911 - val_accuracy: 0.0000e+00
Epoch 69/250
214/214 [==============================] - 0s 2ms/step - loss: 1185.2303 - accuracy: 0.0000e+00 - val_loss: 1108.7108 - val_accuracy: 0.0000e+00
Epoch 70/250
214/214 [==============================] - 0s 2ms/step - loss: 1184.1963 - accuracy: 0.0000e+00 - val_loss: 1107.4053 - val_accuracy: 0.0000e+00
Epoch 71/250
214/214 [==============================] - 0s 2ms/step - loss: 1184.4269 - accuracy: 0.0000e+00 - val_loss: 1106.4374 - val_accuracy: 0.0000e+00
Epoch 72/250
214/214 [==============================] - 0s 2ms/step - loss: 1185.1929 - accuracy: 0.0000e+00 - val_loss: 1106.4099 - val_accuracy: 0.0000e+00
Epoch 73/250
214/214 [==============================] - 0s 2ms/step - loss: 1186.3965 - accuracy: 0.0000e+00 - val_loss: 1106.9429 - val_accuracy: 0.0000e+00
Epoch 74/250
214/214 [==============================] - 0s 2ms/step - loss: 1184.9474 - accuracy: 0.0000e+00 - val_loss: 1106.5436 - val_accuracy: 0.0000e+00
Epoch 75/250
214/214 [==============================] - 0s 2ms/step - loss: 1186.7876 - accuracy: 0.0000e+00 - val_loss: 1106.1843 - val_accuracy: 0.0000e+00
Epoch 76/250
214/214 [==============================] - 0s 2ms/step - loss: 1183.8381 - accuracy: 0.0000e+00 - val_loss: 1106.5680 - val_accuracy: 0.0000e+00
Epoch 77/250
214/214 [==============================] - 0s 2ms/step - loss: 1184.4575 - accuracy: 0.0000e+00 - val_loss: 1106.7207 - val_accuracy: 0.0000e+00
Epoch 78/250
214/214 [==============================] - 0s 2ms/step - loss: 1183.6869 - accuracy: 0.0000e+00 - val_loss: 1106.0488 - val_accuracy: 0.0000e+00
Epoch 79/250
214/214 [==============================] - 0s 2ms/step - loss: 1183.8960 - accuracy: 0.0000e+00 - val_loss: 1108.0385 - val_accuracy: 0.0000e+00
Epoch 80/250
214/214 [==============================] - 0s 2ms/step - loss: 1186.6501 - accuracy: 0.0000e+00 - val_loss: 1107.1270 - val_accuracy: 0.0000e+00
Epoch 81/250
214/214 [==============================] - 0s 2ms/step - loss: 1184.4701 - accuracy: 0.0000e+00 - val_loss: 1106.7448 - val_accuracy: 0.0000e+00
Epoch 82/250
214/214 [==============================] - 0s 2ms/step - loss: 1184.9504 - accuracy: 0.0000e+00 - val_loss: 1105.7714 - val_accuracy: 0.0000e+00
Epoch 83/250
214/214 [==============================] - 0s 2ms/step - loss: 1186.8323 - accuracy: 0.0000e+00 - val_loss: 1105.4827 - val_accuracy: 0.0000e+00
Epoch 84/250
214/214 [==============================] - 0s 2ms/step - loss: 1187.1648 - accuracy: 0.0000e+00 - val_loss: 1105.6375 - val_accuracy: 0.0000e+00
Epoch 85/250
214/214 [==============================] - 0s 2ms/step - loss: 1186.6885 - accuracy: 0.0000e+00 - val_loss: 1105.3530 - val_accuracy: 0.0000e+00
Epoch 86/250
214/214 [==============================] - 0s 2ms/step - loss: 1184.9150 - accuracy: 0.0000e+00 - val_loss: 1105.4266 - val_accuracy: 0.0000e+00
Epoch 87/250
214/214 [==============================] - 0s 2ms/step - loss: 1181.4839 - accuracy: 0.0000e+00 - val_loss: 1105.3654 - val_accuracy: 0.0000e+00
Epoch 88/250
214/214 [==============================] - 0s 2ms/step - loss: 1184.7406 - accuracy: 0.0000e+00 - val_loss: 1104.8657 - val_accuracy: 0.0000e+00
Epoch 89/250
214/214 [==============================] - 0s 2ms/step - loss: 1183.2985 - accuracy: 0.0000e+00 - val_loss: 1104.5571 - val_accuracy: 0.0000e+00
Epoch 90/250
214/214 [==============================] - 0s 2ms/step - loss: 1185.7396 - accuracy: 0.0000e+00 - val_loss: 1105.1005 - val_accuracy: 0.0000e+00
Epoch 91/250
214/214 [==============================] - 0s 2ms/step - loss: 1185.4069 - accuracy: 0.0000e+00 - val_loss: 1105.9454 - val_accuracy: 0.0000e+00
Epoch 92/250
214/214 [==============================] - 0s 2ms/step - loss: 1185.3289 - accuracy: 0.0000e+00 - val_loss: 1104.4004 - val_accuracy: 0.0000e+00
Epoch 93/250
214/214 [==============================] - 0s 2ms/step - loss: 1184.6741 - accuracy: 0.0000e+00 - val_loss: 1105.9069 - val_accuracy: 0.0000e+00
Epoch 94/250
214/214 [==============================] - 0s 2ms/step - loss: 1184.2910 - accuracy: 0.0000e+00 - val_loss: 1105.6561 - val_accuracy: 0.0000e+00
Epoch 95/250
214/214 [==============================] - 0s 2ms/step - loss: 1186.4182 - accuracy: 0.0000e+00 - val_loss: 1104.3984 - val_accuracy: 0.0000e+00
Epoch 96/250
214/214 [==============================] - 0s 2ms/step - loss: 1182.6755 - accuracy: 0.0000e+00 - val_loss: 1104.4055 - val_accuracy: 0.0000e+00
Epoch 97/250
214/214 [==============================] - 0s 2ms/step - loss: 1185.4573 - accuracy: 0.0000e+00 - val_loss: 1108.1506 - val_accuracy: 0.0000e+00
Epoch 98/250
214/214 [==============================] - 0s 2ms/step - loss: 1183.6490 - accuracy: 0.0000e+00 - val_loss: 1104.8698 - val_accuracy: 0.0000e+00
Epoch 99/250
214/214 [==============================] - 0s 2ms/step - loss: 1184.1967 - accuracy: 0.0000e+00 - val_loss: 1103.9987 - val_accuracy: 0.0000e+00
Epoch 100/250
214/214 [==============================] - 0s 2ms/step - loss: 1185.1322 - accuracy: 0.0000e+00 - val_loss: 1104.1686 - val_accuracy: 0.0000e+00
Epoch 101/250
214/214 [==============================] - 0s 2ms/step - loss: 1183.2551 - accuracy: 0.0000e+00 - val_loss: 1104.1710 - val_accuracy: 0.0000e+00
Epoch 102/250
214/214 [==============================] - 0s 2ms/step - loss: 1184.9264 - accuracy: 0.0000e+00 - val_loss: 1103.8204 - val_accuracy: 0.0000e+00
Epoch 103/250
214/214 [==============================] - 0s 2ms/step - loss: 1184.3307 - accuracy: 0.0000e+00 - val_loss: 1104.0620 - val_accuracy: 0.0000e+00
Epoch 104/250
214/214 [==============================] - 0s 2ms/step - loss: 1181.2025 - accuracy: 0.0000e+00 - val_loss: 1103.9382 - val_accuracy: 0.0000e+00
Epoch 105/250
214/214 [==============================] - 0s 2ms/step - loss: 1182.8888 - accuracy: 0.0000e+00 - val_loss: 1103.4579 - val_accuracy: 0.0000e+00
Epoch 106/250
214/214 [==============================] - 0s 2ms/step - loss: 1185.9486 - accuracy: 0.0000e+00 - val_loss: 1103.4524 - val_accuracy: 0.0000e+00
Epoch 107/250
214/214 [==============================] - 0s 2ms/step - loss: 1184.4436 - accuracy: 0.0000e+00 - val_loss: 1103.5049 - val_accuracy: 0.0000e+00
Epoch 108/250
214/214 [==============================] - 0s 2ms/step - loss: 1182.9290 - accuracy: 0.0000e+00 - val_loss: 1103.3175 - val_accuracy: 0.0000e+00
Epoch 109/250
214/214 [==============================] - 0s 2ms/step - loss: 1183.6224 - accuracy: 0.0000e+00 - val_loss: 1103.2878 - val_accuracy: 0.0000e+00
Epoch 110/250
214/214 [==============================] - 0s 2ms/step - loss: 1182.0570 - accuracy: 0.0000e+00 - val_loss: 1104.1042 - val_accuracy: 0.0000e+00
Epoch 111/250
214/214 [==============================] - 0s 2ms/step - loss: 1184.0051 - accuracy: 0.0000e+00 - val_loss: 1106.9595 - val_accuracy: 0.0000e+00
Epoch 112/250
214/214 [==============================] - 0s 2ms/step - loss: 1183.2032 - accuracy: 0.0000e+00 - val_loss: 1103.2574 - val_accuracy: 0.0000e+00
Epoch 113/250
214/214 [==============================] - 0s 2ms/step - loss: 1182.6437 - accuracy: 0.0000e+00 - val_loss: 1105.4429 - val_accuracy: 0.0000e+00
Epoch 114/250
214/214 [==============================] - 0s 2ms/step - loss: 1184.1328 - accuracy: 0.0000e+00 - val_loss: 1104.7754 - val_accuracy: 0.0000e+00
Epoch 115/250
214/214 [==============================] - 0s 2ms/step - loss: 1184.6625 - accuracy: 0.0000e+00 - val_loss: 1103.4329 - val_accuracy: 0.0000e+00
Epoch 116/250
214/214 [==============================] - 0s 2ms/step - loss: 1181.6429 - accuracy: 0.0000e+00 - val_loss: 1102.5349 - val_accuracy: 0.0000e+00
Epoch 117/250
214/214 [==============================] - 0s 2ms/step - loss: 1184.1292 - accuracy: 0.0000e+00 - val_loss: 1102.3190 - val_accuracy: 0.0000e+00
Epoch 118/250
214/214 [==============================] - 0s 2ms/step - loss: 1178.6536 - accuracy: 0.0000e+00 - val_loss: 1101.8197 - val_accuracy: 0.0000e+00
Epoch 119/250
214/214 [==============================] - 0s 2ms/step - loss: 1181.9067 - accuracy: 0.0000e+00 - val_loss: 1103.1958 - val_accuracy: 0.0000e+00
Epoch 120/250
214/214 [==============================] - 0s 2ms/step - loss: 1180.5439 - accuracy: 0.0000e+00 - val_loss: 1101.6909 - val_accuracy: 0.0000e+00
Epoch 121/250
214/214 [==============================] - 0s 2ms/step - loss: 1180.0613 - accuracy: 0.0000e+00 - val_loss: 1101.3966 - val_accuracy: 0.0000e+00
Epoch 122/250
214/214 [==============================] - 0s 2ms/step - loss: 1183.3058 - accuracy: 0.0000e+00 - val_loss: 1101.2853 - val_accuracy: 0.0000e+00
Epoch 123/250
214/214 [==============================] - 0s 2ms/step - loss: 1181.6290 - accuracy: 0.0000e+00 - val_loss: 1101.5106 - val_accuracy: 0.0000e+00
Epoch 124/250
214/214 [==============================] - 0s 2ms/step - loss: 1182.9755 - accuracy: 0.0000e+00 - val_loss: 1102.8220 - val_accuracy: 0.0000e+00
Epoch 125/250
214/214 [==============================] - 0s 2ms/step - loss: 1180.5232 - accuracy: 0.0000e+00 - val_loss: 1100.5752 - val_accuracy: 0.0000e+00
Epoch 126/250
214/214 [==============================] - 0s 2ms/step - loss: 1181.8199 - accuracy: 0.0000e+00 - val_loss: 1100.4575 - val_accuracy: 0.0000e+00
Epoch 127/250

In [23]:
from sklearn.metrics import r2_score
##### Evaluating model performance on validation set #####
prediction = model.predict(X_test)

# calculating the accuracy on validation set
r2_score(y_test, prediction)

0.583384423284198

##4.Test Data Preprocessing

In [24]:
test_data = 'https://raw.githubusercontent.com/DiwakarBasnet/Neural_Network/main/Sales_Prediction/test_file.csv'
check = pd.read_csv(test_data)

In [25]:
check.isnull().sum()

Item_Identifier                 0
Item_Weight                   976
Item_Fat_Content                0
Item_Visibility                 0
Item_Type                       0
Item_MRP                        0
Outlet_Identifier               0
Outlet_Establishment_Year       0
Outlet_Size                  1606
Outlet_Location_Type            0
Outlet_Type                     0
dtype: int64

###I. Filling Missing Values

In [26]:
# filling missing values of continuous data with mean
check['Item_Weight'].fillna(check['Item_Weight'].mean(), inplace=True)

# filling missing values of categorical data with mode
check['Outlet_Size'].fillna(check['Outlet_Size'].mode()[0], inplace=True)

In [27]:
# checking missing values after imputation
check.isnull().sum()

Item_Identifier              0
Item_Weight                  0
Item_Fat_Content             0
Item_Visibility              0
Item_Type                    0
Item_MRP                     0
Outlet_Identifier            0
Outlet_Establishment_Year    0
Outlet_Size                  0
Outlet_Location_Type         0
Outlet_Type                  0
dtype: int64

###II. Converting categorical data to numerical

In [28]:
check['Item_Fat_Content'] = check['Item_Fat_Content'].map({'LF':0, 'Low Fat':0, 'low fat':0, 'Regular':1, 'reg':1})
check['Item_Type'] = check['Item_Type'].map({'Fruits and Vegetables':0, 'Snack Foods':1, 'Household':2, 'Frozen Foods':3, 'Dairy':4,
                                                 'Canned':5, 'Baking Goods':6, 'Health and Hygiene':7, 'Soft Drinks':8, 'Meat':9,
                                                 'Breads':10, 'Hard Drinks':11, 'Others':12, 'Starchy Foods':13, 'Breakfast':14, 'Seafood':15})
check['Outlet_Size'] = check['Outlet_Size'].map({'Small':0, 'Medium':1, 'High':2})
check['Outlet_Location_Type'] = check['Outlet_Location_Type'].map({'Tier 1':0, 'Tier 2':1, 'Tier 3':2})
check['Outlet_Type'] = check['Outlet_Type'].map({'Grocery Store':0, 'Supermarket Type1':1, 'Supermarket Type2':2, 'Supermarket Type3':3})

In [29]:
check.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type
0,FDW58,20.750000,0,0.007565,1,107.8622,OUT049,1999,1,0,1
1,FDW14,8.300000,1,0.038428,4,87.3198,OUT017,2007,1,1,1
2,NCN55,14.600000,0,0.099575,12,241.7538,OUT010,1998,1,2,0
3,FDQ58,7.315000,0,0.015388,1,155.0340,OUT017,2007,1,1,1
4,FDY38,12.695633,1,0.118599,4,234.2300,OUT027,1985,1,2,3

###III. Normalization

In [30]:
# bringing the variables in the range of 0 to 1
for i in check.columns[1:6]:
  check[i] = (check[i] - check[i].min()) / (check[i].max() - check[i].min())

for i in check.columns[7:]:
  check[i] = (check[i] - check[i].min()) / (check[i].max() - check[i].min())

In [31]:
check.to_csv('normalized_test.csv', index=False)

In [32]:
data_test = pd.read_csv('normalized_test.csv')

In [33]:
# removing Item_Identifier and Outlet_Identifier
new_test_data = data_test.drop(['Item_Identifier', 'Outlet_Identifier'], axis=1)

In [34]:
new_test_data.head()

,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type
0,0.964275,0.0,0.023374,0.066667,0.323413,0.583333,0.5,0.0,0.333333
1,0.222983,1.0,0.118737,0.266667,0.235849,0.916667,0.5,0.5,0.333333
2,0.598095,0.0,0.307674,0.800000,0.894140,0.541667,0.5,1.0,0.000000
3,0.164335,0.0,0.047548,0.066667,0.524488,0.916667,0.5,0.5,0.333333
4,0.484706,1.0,0.366458,0.266667,0.862069,0.000000,0.5,1.0,1.000000

In [35]:
pred = model.predict(new_test_data)

In [36]:
df = pd.DataFrame()
df['Item_Identifier'] = data_test['Item_Identifier']
df['Outlet_Identifier'] = data_test['Outlet_Identifier']
df['Item_Outlet_Sales']= pred

df

     Item_Identifier Outlet_Identifier  Item_Outlet_Sales
0              FDW58            OUT049        1985.161621
1              FDW14            OUT017        1139.816772
2              NCN55            OUT010        1475.361572
3              FDQ58            OUT017        2261.205078
4              FDY38            OUT027        5308.723633
...              ...               ...                ...
5676           FDB58            OUT046        2475.881348
5677           FDD47            OUT018        2826.547607
5678           NCO17            OUT045        1429.827881
5679           FDJ26            OUT017        3297.397217
5680           FDU37            OUT045         875.175964

[5681 rows x 3 columns]

In [37]:
df.to_csv('solution.csv', index=False)