<a href="https://colab.research.google.com/github/DiwakarBasnet/Neural_Network/blob/main/Sales_Prediction/Sales_function_Prediction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Big Mart Sales Prediction
-> Multilayer Perceptron (MLP)

In [1]:
# importing required libraries
import pandas as pd
import numpy as np
import sklearn
from sklearn.model_selection import train_test_split
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
# reading dataset
train_data = 'https://raw.githubusercontent.com/DiwakarBasnet/Neural_Network/main/Sales_Prediction/train_file.csv'
dataset1 = pd.read_csv(train_data, skipinitialspace=True)

test_data = 'https://raw.githubusercontent.com/DiwakarBasnet/Neural_Network/main/Sales_Prediction/test_file.csv'
dataset2 = pd.read_csv(test_data, skipinitialspace=True)

##1.Data Preprocessing

In [3]:
dataset1.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.30,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
1,DRC01,5.92,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
2,FDN15,17.50,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700
3,FDX07,19.20,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,NaN,Tier 3,Grocery Store,732.3800
4,NCD19,8.93,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052

In [4]:
# checking missing values in table
print(dataset1.isnull().sum(),"\n")
print(dataset2.isnull().sum())

Item_Identifier                 0
Item_Weight                  1463
Item_Fat_Content                0
Item_Visibility                 0
Item_Type                       0
Item_MRP                        0
Outlet_Identifier               0
Outlet_Establishment_Year       0
Outlet_Size                  2410
Outlet_Location_Type            0
Outlet_Type                     0
Item_Outlet_Sales               0
dtype: int64

Item_Identifier                 0
Item_Weight                   976
Item_Fat_Content                0
Item_Visibility                 0
Item_Type                       0
Item_MRP                        0
Outlet_Identifier               0
Outlet_Establishment_Year       0
Outlet_Size                  1606
Outlet_Location_Type            0
Outlet_Type                     0
dtype: int64

In [5]:
dataset1.dtypes

Item_Identifier               object
Item_Weight                  float64
Item_Fat_Content              object
Item_Visibility              float64
Item_Type                     object
Item_MRP                     float64
Outlet_Identifier             object
Outlet_Establishment_Year      int64
Outlet_Size                   object
Outlet_Location_Type          object
Outlet_Type                   object
Item_Outlet_Sales            float64
dtype: object

In [6]:
def converter(dataset):
  # filling missing values
  dataset['Item_Weight'].fillna(dataset['Item_Weight'].mean(), inplace=True)
  dataset['Outlet_Size'].fillna(dataset['Outlet_Size'].mode()[0], inplace=True)
  
  # converting categorical data to numbers
  dataset['Item_Fat_Content'] = dataset['Item_Fat_Content'].map({'LF':0, 'Low Fat':0, 'low fat':0, 'Regular':1, 'reg':1})
  
  dummy_Item_Type = pd.get_dummies(dataset.Item_Type)
  dummy_Outlet_Establishment_Year = pd.get_dummies(dataset.Outlet_Establishment_Year)
  dummy_Outlet_Size = pd.get_dummies(dataset.Outlet_Size)
  dummy_Outlet_Location_Type = pd.get_dummies(dataset.Outlet_Location_Type)
  dummy_Outlet_Type = pd.get_dummies(dataset.Outlet_Type)

  new_dataset = pd.concat([dataset.Item_Weight, dataset.Item_Fat_Content, dataset.Item_Visibility, dummy_Item_Type, dataset.Item_MRP,
                           dummy_Outlet_Establishment_Year, dummy_Outlet_Size, dummy_Outlet_Location_Type,
                           dummy_Outlet_Type], axis='columns')
  
  # normalizing dataset
  for i in new_dataset.columns[0:]:
    new_dataset[i] = (new_dataset[i] - new_dataset[i].min()) / (new_dataset[i].max() - new_dataset[i].min())

  return new_dataset

In [7]:
# storing all the features as X
X = converter(dataset1)
# storing target as y
y = dataset1['Item_Outlet_Sales']
# shape of X and y
X.shape, y.shape

((8523, 39), (8523,))

In [8]:
##### creating training and validation set #####
# random state to regenerate same train and validation set
# test size 0.2 will keep 20% data in validation and 80% train set

X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=10, test_size=0.2)

(X_train.shape, y_train.shape), (X_test.shape, y_test.shape)

(((6818, 39), (6818,)), ((1705, 39), (1705,)))

##2.Defining the architecture of model

In [9]:
import keras
import tensorflow as tf
from keras import regularizers
from keras import backend as K
from keras.models import Sequential
from keras.layers import InputLayer, Dense
from keras.layers.core import Dropout

In [10]:
# defining input neurons
input_neurons = X_train.shape[1]
# defining output neurons
output_neurons = 1
# defining hidden layers and neurons in each layer
num_of_hidden_layers = 3
neuron_hidden_layer_1 = 30
neuron_hidden_layer_2 = 15
neuron_hidden_layer_3 = 5

In [11]:
from logging import INFO
model = Sequential()
model.add(InputLayer(input_shape=(input_neurons,)))
model.add(Dense(units=neuron_hidden_layer_1, activation='relu', kernel_initializer='uniform', activity_regularizer=regularizers.l2(0.01)))
model.add(Dropout(rate = 0.2))
model.add(Dense(units=neuron_hidden_layer_2, activation='relu', kernel_initializer='uniform'))
model.add(Dropout(rate = 0.2))
model.add(Dense(units=neuron_hidden_layer_3, activation='relu', kernel_initializer='uniform'))
model.add(Dropout(rate = 0.2))
model.add(Dense(units=output_neurons, activation='linear', kernel_initializer='uniform'))

In [12]:
model.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 30)                1200

 dropout (Dropout)           (None, 30)                0

 dense_1 (Dense)             (None, 15)                465

 dropout_1 (Dropout)         (None, 15)                0

 dense_2 (Dense)             (None, 5)                 80

 dropout_2 (Dropout)         (None, 5)                 0

 dense_3 (Dense)             (None, 1)                 6

=================================================================
Total params: 1,751
Trainable params: 1,751
Non-trainable params: 0
_________________________________________________________________

In [13]:
def root_mean_squared_error(y_true, y_pred):
  return K.sqrt(K.mean(K.square(y_pred - y_true))) 

##### Compiling the model #####
model.compile(loss=root_mean_squared_error, optimizer='adam', metrics=['mean_squared_error'])

##3.Train model

In [14]:
model_history = model.fit(X_train, y_train, batch_size=128, validation_data=(X_test, y_test), epochs=100)

Epoch 1/100
54/54 [==============================] - 2s 17ms/step - loss: 2755.7627 - mean_squared_error: 7629167.0000 - val_loss: 2794.7007 - val_mean_squared_error: 7831219.5000
Epoch 2/100
54/54 [==============================] - 0s 7ms/step - loss: 2753.4973 - mean_squared_error: 7625387.0000 - val_loss: 2792.1936 - val_mean_squared_error: 7816697.0000
Epoch 3/100
54/54 [==============================] - 0s 8ms/step - loss: 2745.0322 - mean_squared_error: 7559801.0000 - val_loss: 2761.6038 - val_mean_squared_error: 7644611.0000
Epoch 4/100
54/54 [==============================] - 0s 6ms/step - loss: 2669.4683 - mean_squared_error: 7157160.5000 - val_loss: 2623.2087 - val_mean_squared_error: 6895574.5000
Epoch 5/100
54/54 [==============================] - 0s 6ms/step - loss: 2443.3914 - mean_squared_error: 6001123.0000 - val_loss: 2272.8145 - val_mean_squared_error: 5176574.0000
Epoch 6/100
54/54 [==============================] - 0s 8ms/step - loss: 2029.5206 - mean_squared_error: 4151152.0000 - val_loss: 1791.1917 - val_mean_squared_error: 3216711.5000
Epoch 7/100
54/54 [==============================] - 0s 8ms/step - loss: 1736.2285 - mean_squared_error: 3028239.5000 - val_loss: 1622.7609 - val_mean_squared_error: 2637536.0000
Epoch 8/100
54/54 [==============================] - 0s 7ms/step - loss: 1695.1012 - mean_squared_error: 2875437.2500 - val_loss: 1597.7476 - val_mean_squared_error: 2556807.5000
Epoch 9/100
54/54 [==============================] - 0s 6ms/step - loss: 1688.2977 - mean_squared_error: 2854294.0000 - val_loss: 1579.5432 - val_mean_squared_error: 2499203.7500
Epoch 10/100
54/54 [==============================] - 1s 12ms/step - loss: 1675.7423 - mean_squared_error: 2815822.5000 - val_loss: 1558.1536 - val_mean_squared_error: 2431926.5000
Epoch 11/100
54/54 [==============================] - 0s 8ms/step - loss: 1634.6439 - mean_squared_error: 2678773.7500 - val_loss: 1539.0571 - val_mean_squared_error: 2372922.7500
Epoch 12/100
54/54 [==============================] - 0s 8ms/step - loss: 1637.9117 - mean_squared_error: 2687484.7500 - val_loss: 1522.3456 - val_mean_squared_error: 2321987.5000
Epoch 13/100
54/54 [==============================] - 0s 6ms/step - loss: 1624.2025 - mean_squared_error: 2652611.7500 - val_loss: 1507.2196 - val_mean_squared_error: 2276611.2500
Epoch 14/100
54/54 [==============================] - 0s 7ms/step - loss: 1594.9214 - mean_squared_error: 2546456.5000 - val_loss: 1482.7585 - val_mean_squared_error: 2203178.0000
Epoch 15/100
54/54 [==============================] - 0s 7ms/step - loss: 1582.9871 - mean_squared_error: 2516388.5000 - val_loss: 1468.9181 - val_mean_squared_error: 2162829.2500
Epoch 16/100
54/54 [==============================] - 0s 8ms/step - loss: 1572.4425 - mean_squared_error: 2482489.2500 - val_loss: 1448.7164 - val_mean_squared_error: 2104029.5000
Epoch 17/100
54/54 [==============================] - 1s 11ms/step - loss: 1551.0343 - mean_squared_error: 2415933.0000 - val_loss: 1430.2860 - val_mean_squared_error: 2051167.5000
Epoch 18/100
54/54 [==============================] - 1s 10ms/step - loss: 1535.8844 - mean_squared_error: 2366854.0000 - val_loss: 1412.7721 - val_mean_squared_error: 2001599.6250
Epoch 19/100
54/54 [==============================] - 0s 8ms/step - loss: 1530.7749 - mean_squared_error: 2351627.2500 - val_loss: 1400.6019 - val_mean_squared_error: 1968005.8750
Epoch 20/100
54/54 [==============================] - 0s 9ms/step - loss: 1510.6150 - mean_squared_error: 2290053.7500 - val_loss: 1377.3828 - val_mean_squared_error: 1903240.8750
Epoch 21/100
54/54 [==============================] - 0s 7ms/step - loss: 1486.0814 - mean_squared_error: 2214616.5000 - val_loss: 1364.3435 - val_mean_squared_error: 1867958.7500
Epoch 22/100
54/54 [==============================] - 0s 9ms/step - loss: 1464.3011 - mean_squared_error: 2156120.0000 - val_loss: 1344.0289 - val_mean_squared_error: 1812792.1250
Epoch 23/100
54/54 [==============================] - 0s 8ms/step - loss: 1487.0219 - mean_squared_error: 2219469.2500 - val_loss: 1331.1515 - val_mean_squared_error: 1778690.3750
Epoch 24/100
54/54 [==============================] - 1s 13ms/step - loss: 1444.4457 - mean_squared_error: 2096424.0000 - val_loss: 1312.2939 - val_mean_squared_error: 1728759.2500
Epoch 25/100
54/54 [==============================] - 0s 8ms/step - loss: 1442.3610 - mean_squared_error: 2087902.6250 - val_loss: 1293.9407 - val_mean_squared_error: 1680850.6250
Epoch 26/100
54/54 [==============================] - 0s 6ms/step - loss: 1444.8307 - mean_squared_error: 2102423.5000 - val_loss: 1281.4862 - val_mean_squared_error: 1649084.8750
Epoch 27/100
54/54 [==============================] - 0s 7ms/step - loss: 1425.2208 - mean_squared_error: 2045953.3750 - val_loss: 1269.1985 - val_mean_squared_error: 1617968.6250
Epoch 28/100
54/54 [==============================] - 0s 8ms/step - loss: 1412.5582 - mean_squared_error: 2004190.6250 - val_loss: 1253.3981 - val_mean_squared_error: 1577987.7500
Epoch 29/100
54/54 [==============================] - 0s 6ms/step - loss: 1405.7123 - mean_squared_error: 1986539.8750 - val_loss: 1238.7794 - val_mean_squared_error: 1541541.2500
Epoch 30/100
54/54 [==============================] - 0s 6ms/step - loss: 1383.5305 - mean_squared_error: 1921404.7500 - val_loss: 1230.3425 - val_mean_squared_error: 1521126.0000
Epoch 31/100
54/54 [==============================] - 0s 8ms/step - loss: 1384.6421 - mean_squared_error: 1934893.2500 - val_loss: 1214.3461 - val_mean_squared_error: 1481831.1250
Epoch 32/100
54/54 [==============================] - 0s 7ms/step - loss: 1369.0696 - mean_squared_error: 1895396.1250 - val_loss: 1207.1311 - val_mean_squared_error: 1464783.0000
Epoch 33/100
54/54 [==============================] - 0s 8ms/step - loss: 1368.0269 - mean_squared_error: 1882206.7500 - val_loss: 1192.7284 - val_mean_squared_error: 1430169.7500
Epoch 34/100
54/54 [==============================] - 0s 3ms/step - loss: 1362.6898 - mean_squared_error: 1870566.1250 - val_loss: 1179.7408 - val_mean_squared_error: 1399301.7500
Epoch 35/100
54/54 [==============================] - 0s 3ms/step - loss: 1336.8333 - mean_squared_error: 1804681.7500 - val_loss: 1170.1233 - val_mean_squared_error: 1376714.1250
Epoch 36/100
54/54 [==============================] - 0s 3ms/step - loss: 1327.8557 - mean_squared_error: 1778166.5000 - val_loss: 1166.9087 - val_mean_squared_error: 1369661.7500
Epoch 37/100
54/54 [==============================] - 0s 3ms/step - loss: 1342.6051 - mean_squared_error: 1818305.2500 - val_loss: 1157.4452 - val_mean_squared_error: 1347730.1250
Epoch 38/100
54/54 [==============================] - 0s 3ms/step - loss: 1309.2161 - mean_squared_error: 1723933.2500 - val_loss: 1146.5377 - val_mean_squared_error: 1322381.2500
Epoch 39/100
54/54 [==============================] - 0s 3ms/step - loss: 1315.9764 - mean_squared_error: 1751255.5000 - val_loss: 1137.9841 - val_mean_squared_error: 1302845.5000
Epoch 40/100
54/54 [==============================] - 0s 3ms/step - loss: 1301.1191 - mean_squared_error: 1703570.1250 - val_loss: 1134.5383 - val_mean_squared_error: 1295065.8750
Epoch 41/100
54/54 [==============================] - 0s 3ms/step - loss: 1313.2291 - mean_squared_error: 1740819.8750 - val_loss: 1120.2904 - val_mean_squared_error: 1262399.2500
Epoch 42/100
54/54 [==============================] - 0s 3ms/step - loss: 1302.7769 - mean_squared_error: 1715105.6250 - val_loss: 1119.8970 - val_mean_squared_error: 1261803.1250
Epoch 43/100
54/54 [==============================] - 0s 3ms/step - loss: 1296.3210 - mean_squared_error: 1691812.5000 - val_loss: 1119.4395 - val_mean_squared_error: 1261161.1250
Epoch 44/100
54/54 [==============================] - 0s 3ms/step - loss: 1315.9346 - mean_squared_error: 1744995.1250 - val_loss: 1110.4972 - val_mean_squared_error: 1240964.3750
Epoch 45/100
54/54 [==============================] - 0s 3ms/step - loss: 1308.4026 - mean_squared_error: 1723363.6250 - val_loss: 1116.3541 - val_mean_squared_error: 1254511.8750
Epoch 46/100
54/54 [==============================] - 0s 3ms/step - loss: 1317.0791 - mean_squared_error: 1751291.6250 - val_loss: 1108.1368 - val_mean_squared_error: 1235838.7500
Epoch 47/100
54/54 [==============================] - 0s 3ms/step - loss: 1284.2317 - mean_squared_error: 1665698.2500 - val_loss: 1105.9532 - val_mean_squared_error: 1230821.7500
Epoch 48/100
54/54 [==============================] - 0s 3ms/step - loss: 1320.6963 - mean_squared_error: 1753610.5000 - val_loss: 1110.0270 - val_mean_squared_error: 1240188.6250
Epoch 49/100
54/54 [==============================] - 0s 3ms/step - loss: 1286.1965 - mean_squared_error: 1669178.7500 - val_loss: 1107.7465 - val_mean_squared_error: 1234910.1250
Epoch 50/100
54/54 [==============================] - 0s 3ms/step - loss: 1295.5151 - mean_squared_error: 1694889.7500 - val_loss: 1098.3949 - val_mean_squared_error: 1213754.1250
Epoch 51/100
54/54 [==============================] - 0s 3ms/step - loss: 1290.5967 - mean_squared_error: 1676654.6250 - val_loss: 1102.1270 - val_mean_squared_error: 1222352.3750
Epoch 52/100
54/54 [==============================] - 0s 3ms/step - loss: 1291.2156 - mean_squared_error: 1682080.5000 - val_loss: 1101.7286 - val_mean_squared_error: 1221607.3750
Epoch 53/100
54/54 [==============================] - 0s 3ms/step - loss: 1283.7036 - mean_squared_error: 1658531.2500 - val_loss: 1096.0651 - val_mean_squared_error: 1208790.8750
Epoch 54/100
54/54 [==============================] - 0s 3ms/step - loss: 1295.1010 - mean_squared_error: 1693842.6250 - val_loss: 1102.7295 - val_mean_squared_error: 1223938.5000
Epoch 55/100
54/54 [==============================] - 0s 3ms/step - loss: 1301.0386 - mean_squared_error: 1703521.1250 - val_loss: 1099.3264 - val_mean_squared_error: 1216284.5000
Epoch 56/100
54/54 [==============================] - 0s 3ms/step - loss: 1291.1019 - mean_squared_error: 1682541.5000 - val_loss: 1096.9863 - val_mean_squared_error: 1211065.2500
Epoch 57/100
54/54 [==============================] - 0s 3ms/step - loss: 1291.4927 - mean_squared_error: 1678438.8750 - val_loss: 1092.1592 - val_mean_squared_error: 1200195.5000
Epoch 58/100
54/54 [==============================] - 0s 3ms/step - loss: 1285.0620 - mean_squared_error: 1668966.5000 - val_loss: 1095.0074 - val_mean_squared_error: 1206574.8750
Epoch 59/100
54/54 [==============================] - 0s 4ms/step - loss: 1282.4302 - mean_squared_error: 1657982.7500 - val_loss: 1115.8981 - val_mean_squared_error: 1253791.5000
Epoch 60/100
54/54 [==============================] - 0s 3ms/step - loss: 1286.6672 - mean_squared_error: 1669585.0000 - val_loss: 1099.5961 - val_mean_squared_error: 1217033.8750
Epoch 61/100
54/54 [==============================] - 0s 3ms/step - loss: 1261.7273 - mean_squared_error: 1605840.1250 - val_loss: 1093.8894 - val_mean_squared_error: 1204156.3750
Epoch 62/100
54/54 [==============================] - 0s 3ms/step - loss: 1275.4265 - mean_squared_error: 1640895.2500 - val_loss: 1103.3287 - val_mean_squared_error: 1225437.7500
Epoch 63/100
54/54 [==============================] - 0s 3ms/step - loss: 1280.9994 - mean_squared_error: 1651502.5000 - val_loss: 1102.3091 - val_mean_squared_error: 1223013.6250
Epoch 64/100
54/54 [==============================] - 0s 3ms/step - loss: 1280.2903 - mean_squared_error: 1650811.0000 - val_loss: 1100.6677 - val_mean_squared_error: 1219428.1250
Epoch 65/100
54/54 [==============================] - 0s 3ms/step - loss: 1275.6094 - mean_squared_error: 1641453.5000 - val_loss: 1092.9310 - val_mean_squared_error: 1202052.0000
Epoch 66/100
54/54 [==============================] - 0s 3ms/step - loss: 1293.6165 - mean_squared_error: 1686086.8750 - val_loss: 1099.0366 - val_mean_squared_error: 1215691.7500
Epoch 67/100
54/54 [==============================] - 0s 3ms/step - loss: 1289.8815 - mean_squared_error: 1678852.0000 - val_loss: 1095.3462 - val_mean_squared_error: 1207499.6250
Epoch 68/100
54/54 [==============================] - 0s 3ms/step - loss: 1291.3990 - mean_squared_error: 1679359.1250 - val_loss: 1092.0874 - val_mean_squared_error: 1200310.7500
Epoch 69/100
54/54 [==============================] - 0s 3ms/step - loss: 1307.4961 - mean_squared_error: 1726554.3750 - val_loss: 1094.5485 - val_mean_squared_error: 1205854.5000
Epoch 70/100
54/54 [==============================] - 0s 3ms/step - loss: 1274.5707 - mean_squared_error: 1635697.3750 - val_loss: 1102.9801 - val_mean_squared_error: 1224843.8750
Epoch 71/100
54/54 [==============================] - 0s 3ms/step - loss: 1286.9550 - mean_squared_error: 1666596.5000 - val_loss: 1091.7563 - val_mean_squared_error: 1199637.0000
Epoch 72/100
54/54 [==============================] - 0s 4ms/step - loss: 1283.1666 - mean_squared_error: 1663151.7500 - val_loss: 1097.2213 - val_mean_squared_error: 1212024.3750
Epoch 73/100
54/54 [==============================] - 0s 3ms/step - loss: 1273.3964 - mean_squared_error: 1630248.8750 - val_loss: 1091.3136 - val_mean_squared_error: 1198770.8750
Epoch 74/100
54/54 [==============================] - 0s 3ms/step - loss: 1262.6713 - mean_squared_error: 1606205.3750 - val_loss: 1089.6528 - val_mean_squared_error: 1194938.8750
Epoch 75/100
54/54 [==============================] - 0s 3ms/step - loss: 1286.5223 - mean_squared_error: 1673859.1250 - val_loss: 1091.6344 - val_mean_squared_error: 1199235.2500
Epoch 76/100
54/54 [==============================] - 0s 3ms/step - loss: 1274.8594 - mean_squared_error: 1639030.2500 - val_loss: 1094.0219 - val_mean_squared_error: 1204596.2500
Epoch 77/100
54/54 [==============================] - 0s 4ms/step - loss: 1285.3700 - mean_squared_error: 1667625.0000 - val_loss: 1095.7662 - val_mean_squared_error: 1208474.3750
Epoch 78/100
54/54 [==============================] - 0s 3ms/step - loss: 1295.6427 - mean_squared_error: 1693156.2500 - val_loss: 1090.4684 - val_mean_squared_error: 1196563.2500
Epoch 79/100
54/54 [==============================] - 0s 3ms/step - loss: 1283.4121 - mean_squared_error: 1660645.0000 - val_loss: 1094.5171 - val_mean_squared_error: 1205582.8750
Epoch 80/100
54/54 [==============================] - 0s 3ms/step - loss: 1274.9133 - mean_squared_error: 1635929.5000 - val_loss: 1092.5322 - val_mean_squared_error: 1201248.2500
Epoch 81/100
54/54 [==============================] - 0s 3ms/step - loss: 1290.7131 - mean_squared_error: 1678495.3750 - val_loss: 1097.1639 - val_mean_squared_error: 1211787.0000
Epoch 82/100
54/54 [==============================] - 0s 3ms/step - loss: 1285.7255 - mean_squared_error: 1666406.0000 - val_loss: 1098.0870 - val_mean_squared_error: 1213745.5000
Epoch 83/100
54/54 [==============================] - 0s 3ms/step - loss: 1272.5170 - mean_squared_error: 1630498.0000 - val_loss: 1093.3510 - val_mean_squared_error: 1203112.0000
Epoch 84/100
54/54 [==============================] - 0s 3ms/step - loss: 1294.2152 - mean_squared_error: 1688886.5000 - val_loss: 1097.4329 - val_mean_squared_error: 1212380.3750
Epoch 85/100
54/54 [==============================] - 0s 3ms/step - loss: 1281.6570 - mean_squared_error: 1657149.5000 - val_loss: 1091.1766 - val_mean_squared_error: 1198386.8750
Epoch 86/100
54/54 [==============================] - 0s 3ms/step - loss: 1289.9937 - mean_squared_error: 1681552.0000 - val_loss: 1096.2374 - val_mean_squared_error: 1209625.8750
Epoch 87/100
54/54 [==============================] - 0s 3ms/step - loss: 1279.2859 - mean_squared_error: 1648068.8750 - val_loss: 1097.3953 - val_mean_squared_error: 1212409.7500
Epoch 88/100
54/54 [==============================] - 0s 3ms/step - loss: 1306.1238 - mean_squared_error: 1723003.1250 - val_loss: 1088.4312 - val_mean_squared_error: 1192298.8750
Epoch 89/100
54/54 [==============================] - 0s 3ms/step - loss: 1283.5529 - mean_squared_error: 1660904.3750 - val_loss: 1090.0605 - val_mean_squared_error: 1195786.0000
Epoch 90/100
54/54 [==============================] - 0s 3ms/step - loss: 1299.1090 - mean_squared_error: 1702377.0000 - val_loss: 1090.9539 - val_mean_squared_error: 1197727.8750
Epoch 91/100
54/54 [==============================] - 0s 3ms/step - loss: 1276.9758 - mean_squared_error: 1641884.1250 - val_loss: 1093.3860 - val_mean_squared_error: 1203211.7500
Epoch 92/100
54/54 [==============================] - 0s 3ms/step - loss: 1297.6833 - mean_squared_error: 1698679.0000 - val_loss: 1100.8873 - val_mean_squared_error: 1219996.1250
Epoch 93/100
54/54 [==============================] - 0s 3ms/step - loss: 1280.5219 - mean_squared_error: 1656260.8750 - val_loss: 1090.7892 - val_mean_squared_error: 1197458.0000
Epoch 94/100
54/54 [==============================] - 0s 3ms/step - loss: 1285.9213 - mean_squared_error: 1669066.1250 - val_loss: 1096.3181 - val_mean_squared_error: 1209806.2500
Epoch 95/100
54/54 [==============================] - 0s 3ms/step - loss: 1284.7855 - mean_squared_error: 1659889.2500 - val_loss: 1094.7267 - val_mean_squared_error: 1206265.0000
Epoch 96/100
54/54 [==============================] - 0s 3ms/step - loss: 1297.6086 - mean_squared_error: 1698171.1250 - val_loss: 1097.4720 - val_mean_squared_error: 1212423.7500
Epoch 97/100
54/54 [==============================] - 0s 3ms/step - loss: 1276.1770 - mean_squared_error: 1640548.6250 - val_loss: 1089.9259 - val_mean_squared_error: 1195550.0000
Epoch 98/100
54/54 [==============================] - 0s 4ms/step - loss: 1304.5359 - mean_squared_error: 1718224.5000 - val_loss: 1094.5479 - val_mean_squared_error: 1205902.2500
Epoch 99/100
54/54 [==============================] - 0s 4ms/step - loss: 1293.8081 - mean_squared_error: 1688435.6250 - val_loss: 1096.2034 - val_mean_squared_error: 1209531.5000
Epoch 100/100
54/54 [==============================] - 0s 3ms/step - loss: 1282.1891 - mean_squared_error: 1652816.7500 - val_loss: 1100.8756 - val_mean_squared_error: 1220113.2500

In [15]:
from sklearn.metrics import r2_score
##### Evaluating model performance on validation set #####
prediction = model.predict(X_test)

# calculating the accuracy on validation set
r2_score(y_test, prediction)

0.5889676148781119

In [16]:
##### Test data preprocessing #####
X_check = converter(dataset2)
X_check.head()

,Item_Weight,Item_Fat_Content,Item_Visibility,Baking Goods,Breads,Breakfast,Canned,Dairy,Frozen Foods,Fruits and Vegetables,...,High,Medium,Small,Tier 1,Tier 2,Tier 3,Grocery Store,Supermarket Type1,Supermarket Type2,Supermarket Type3
0,0.964275,0.0,0.023374,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0
1,0.222983,1.0,0.118737,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0
2,0.598095,0.0,0.307674,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0
3,0.164335,0.0,0.047548,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0
4,0.484706,1.0,0.366458,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0

In [17]:
pred = model.predict(X_check)

In [18]:
submission = pd.DataFrame()
submission['Item_Identifier'] = dataset2['Item_Identifier']
submission['Outlet_Identifier'] = dataset2['Outlet_Identifier']
submission['Item_Outlet_Sales']= pred

submission

     Item_Identifier Outlet_Identifier  Item_Outlet_Sales
0              FDW58            OUT049        1518.261108
1              FDW14            OUT017        1235.372803
2              NCN55            OUT010         598.946655
3              FDQ58            OUT017        2369.207275
4              FDY38            OUT027        4798.800781
...              ...               ...                ...
5676           FDB58            OUT046        2051.650879
5677           FDD47            OUT018        2300.256348
5678           NCO17            OUT045        1579.248169
5679           FDJ26            OUT017        3419.037354
5680           FDU37            OUT045        1048.384888

[5681 rows x 3 columns]

In [19]:
submission.to_csv('solution.csv', index=False)